Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

logging: added --quiet flag
  src/cli/args/log_level.rs
  src/cli/args/mod.rs
  src/cli/args/quiet.rs
  src/cli/args/verbose.rs
  src/cli/install.rs
  src/cli/mod.rs
  src/cli/plugins/install.rs
  src/cli/plugins/uninstall.rs
  src/cli/prune.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/config/config_file/mod.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/mod.rs
  src/config/settings.rs
  src/env.rs
  src/plugins/external_plugin.rs
  src/toolset/mod.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

docker: fix jq/python/pip installs
  packaging/rtx/Dockerfile
Due: none

docker: fix jq/python/pip installs (#1141)
  packaging/rtx/Dockerfile
Due: none

logging: added --quiet flag (#1140)
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/args/log_level.rs
  src/cli/args/mod.rs
  src/cli/args/quiet.rs
  src/cli/args/verbose.rs
  src/cli/install.rs
  src/cli/mod.rs
  src/cli/plugins/install.rs
  src/cli/plugins/uninstall.rs
  src/cli/prune.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/config/config_file/mod.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/mod.rs
  src/config/settings.rs
  src/env.rs
  src/plugins/external_plugin.rs
  src/toolset/mod.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

ls-remote: sort by plugin name
  src/cli/ls_remote.rs
Due: cargo_fmt, clippy, render

ls-remote: sort by plugin name (#1142)
  src/cli/ls_remote.rs
Due: cargo_fmt, clippy, render

docker: added python3-full
  packaging/rtx/Dockerfile
Due: none

docs
  README.md
Due: none

test: fix erlang in test-plugins.yml
  .github/workflows/test-plugins.yml
Due: none

docker: use rtx-provided python instead of ubuntu
  packaging/rtx/Dockerfile
Due: none

python: logging
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

config: added rwlock around plugins map
  src/cli/current.rs
  src/cli/doctor.rs
  src/cli/external.rs
  src/cli/install.rs
  src/cli/link.rs
  src/cli/ls.rs
  src/cli/ls_remote.rs
  src/cli/plugins/install.rs
  src/cli/plugins/ls.rs
  src/cli/plugins/ls_remote.rs
  src/cli/plugins/uninstall.rs
  src/cli/plugins/update.rs
  src/cli/prune.rs
  src/cli/sync/node.rs
  src/cli/sync/python.rs
  src/cli/upgrade.rs
  src/cli/where.rs
  src/cli/which.rs
  src/config/config_file/mod.rs
  src/config/mod.rs
  src/plugins/core/mod.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/runtime_symlinks.rs
  src/shims.rs
  src/toolset/builder.rs
  src/toolset/mod.rs
  src/toolset/tool_version_list.rs
Due: cargo_fmt, clippy, render

reduce write locking
  src/config/mod.rs
Due: cargo_fmt, clippy, render

remove &muts
  src/cli/asdf.rs
  src/cli/bin_paths.rs
  src/cli/current.rs
  src/cli/direnv/envrc.rs
  src/cli/direnv/exec.rs
  src/cli/doctor.rs
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/hook_env.rs
  src/cli/install.rs
  src/cli/latest.rs
  src/cli/local.rs
  src/cli/ls.rs
  src/cli/ls_remote.rs
  src/cli/outdated.rs
  src/cli/plugins/install.rs
  src/cli/prune.rs
  src/cli/reshim.rs
  src/cli/shell.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/cli/use.rs
  src/cli/where.rs
  src/cli/which.rs
  src/config/mod.rs
  src/shims.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

uninstall: tweak behavior
  README.md
  completions/rtx.bash
  e2e/test_nodejs
  src/cli/uninstall.rs
  src/file.rs
  src/plugins/mod.rs
  src/runtime_symlinks.rs
  src/toolset/tool_version.rs
Due: cargo_fmt, clippy, render, shellcheck

uninstall: tweak behavior (#1144)
  completions/rtx.bash
  e2e/test_nodejs
  src/cli/uninstall.rs
  src/file.rs
  src/plugins/mod.rs
  src/runtime_symlinks.rs
  src/toolset/tool_version.rs
Due: cargo_fmt, clippy, render, shellcheck

uninstall: tweak behavior (#1144)
  README.md
  completions/rtx.bash
  e2e/test_nodejs
  src/cli/uninstall.rs
  src/file.rs
  src/plugins/mod.rs
  src/runtime_symlinks.rs
  src/toolset/tool_version.rs
Due: cargo_fmt, clippy, render, shellcheck

CI: remove nightly toolchain
  .github/workflows/rtx.yml
Due: none

plugin: skip eager loading of plugin data when installing
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

CI: remove nightly toolchain (#1145)
  .github/workflows/rtx.yml
Due: none

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
