Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

Update rtx.md
  docs/rtx.md
Due: none

Update README.md
  README.md
Due: none

docs
  config.ts
  docs/.vitepress/config.ts
Due: none

fix(python): fixes #1419
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

fix(python): fixes #1419 (#1420)
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

fix: remove plugin build status from README.md
  README.md
Due: none

Update comparison-to-asdf.md
  docs/comparison-to-asdf.md
Due: none

Update dev-tools.md
  docs/dev-tools.md
Due: none

docs
  docs/comparison-to-asdf.md
  docs/dev-tools.md
Due: none

docs
  docs/configuration.md
Due: none

fix: do not check CI badges in test scripts (#944)
  scripts/test_plugin.bash
Due: none

feat: add ksops plugin (#945)
  README.md
  plugins/ksops
Due: none

feat: add regal plugins (#942)
  README.md
  plugins/regal
Due: none

Reapply "algolia"
  docs/.vitepress/config.ts
Due: none

added team page
  docs/.vitepress/config.ts
  docs/team.md
Due: none

added team page
  docs/.vitepress/config.ts
Due: none

document CPU version
  docs/lang/python.md
Due: none

python: fix some precompiled issues
  .idea/inspectionProfiles/Project_Default.xml
  src/config/settings.rs
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

added settings for python config
  src/config/settings.rs
  src/env.rs
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

added settings for python config
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
Due: cargo_fmt, clippy, render

improve python settings
  docs/lang/python.md
Due: none

rename rtx-vm -> mise-en-dev
  .github/workflows/test.yml
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
  scripts/release.sh
Due: shellcheck

rename rtx-vm -> mise-en-dev
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
  scripts/release.sh
Due: shellcheck

docs
  docs/lang/python.md
Due: none

python: fix some precompiled issues (#1431)
  .idea/inspectionProfiles/Project_Default.xml
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/settings.rs
  src/env.rs
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render
