Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

tag version in docker
  .github/workflows/docker.yml
Due: none

docker: fix github action
  .github/workflows/docker.yml
Due: none

feat(tasks): make script task dirs configurable
  src/config/config_file/mise_toml.rs
  src/config/config_file/mod.rs
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture-5.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_alias-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_plugin-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__replace_versions-4.snap
  src/config/mod.rs
  src/task.rs
Due: cargo_fmt, clippy, render

docker: skip cargo-msrv
  packaging/dev/Dockerfile
Due: none

fix(tasks): prevent dependency cycles
  src/task.rs
Due: none

fix(tasks): prevent dependency cycles (#1575)
  src/task.rs
Due: none

feat(tasks): make script task dirs configurable (#1571)
  src/config/config_file/mise_toml.rs
  src/config/config_file/mod.rs
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture-5.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_alias-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_plugin-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__replace_versions-4.snap
  src/config/mod.rs
  src/task.rs
Due: cargo_fmt, clippy, render

refactor task_config
  src/cli/run.rs
  src/cli/tasks/deps.rs
  src/cli/tasks/edit.rs
  src/cli/tasks/ls.rs
  src/cli/watch.rs
  src/config/config_file/mise_toml.rs
  src/config/config_file/mod.rs
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture-5.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_alias-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_plugin-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__replace_versions-4.snap
  src/config/mod.rs
  src/task.rs
Due: cargo_fmt, clippy, render

docker: fix test runner
  .github/workflows/docker.yml
Due: none

tasks: refactor to use BTreeMap instead of sorting
  src/cli/run.rs
  src/cli/tasks/deps.rs
  src/cli/tasks/ls.rs
  src/config/mod.rs
  src/task.rs
Due: cargo_fmt, clippy, render

docker: fix dev test
  e2e/test_tool_versions_alt
Due: shellcheck

ci: skip checkout for homebrew bump
  .github/workflows/release.yml
Due: none

Update configuration.md
  configuration.md
Due: none

settings: added some missing settings to `settings set`
  docs/cli-reference.md
  src/cli/activate.rs
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
Due: cargo_fmt, clippy, render

docs
  configuration.md
  contributing.md
Due: none

wip
  completions/_mise
  completions/mise.fish
  docs/cli-reference.md
  src/cli/activate.rs
  src/cli/ls.rs
  src/cli/settings/set.rs
  src/config/settings.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

docs
  configuration.md
Due: none

status: make missing tool warning more granular (#1577)
  completions/_mise
  completions/mise.fish
  docs/cli-reference.md
  e2e/test_tool_versions_alt
  src/cli/activate.rs
  src/cli/ls.rs
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/config_file/mod.rs
  src/config/mod.rs
  src/config/settings.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
