Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

docs: fix typo in README link
  README.md
Due: none

Fix typo of where plugin is defined
  src/cli/use.rs
Due: cargo_fmt, clippy, render

Update test in use.rs
  src/cli/use.rs
Due: cargo_fmt, clippy, render

Update README.md
  README.md
Due: none

CI: continue on codacy error
  .github/workflows/test.yml
Due: none

docs: fix typo in README link (#1278)
  README.md
Due: none

Fix typo of where plugin is defined (#1279)
  src/cli/use.rs
Due: cargo_fmt, clippy, render

docs: correct env variable RTX_EXPERIMENTAL in README
  README.md
Due: none

docs: correct env variable RTX_EXPERIMENTAL in README (#1281)
  README.md
Due: none

simplify readme
  README.md
Due: none

set dt as first-party
  plugins/dt
Due: none

Update poetry
  plugins/poetry
Due: none

use rtx-plugins as shortname repo
  README.md
  scripts/query-top-plugins.fish
  scripts/update-shorthand-repo.sh
  src/default_shorthands.rs
Due: shellcheck

use rtx-plugins as shortname repo (#1282)
  README.md
  scripts/query-top-plugins.fish
  scripts/update-shorthand-repo.sh
  src/default_shorthands.rs
Due: shellcheck

use rtx-plugins as shortname repo (#1282)
  scripts/query-top-plugins.fish
  scripts/update-shorthand-repo.sh
  src/default_shorthands.rs
Due: shellcheck

added pipenv/tiny
  plugins/pipenv
  plugins/tiny
Due: none

remove core plugins
  plugins/bun
  plugins/deno
  plugins/golang
  plugins/java
  plugins/nodejs
  plugins/python
  plugins/ruby
Due: none

plugins: add support for "trusted" plugins
  scripts/update-shorthand-repo.sh
  src/cli/plugins/install.rs
  src/default_shorthands.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render, shellcheck

added asdf-hub fork
  plugins/hub
Due: none

plugins: add support for "trusted" plugins (#1284)
  scripts/update-shorthand-repo.sh
  src/cli/plugins/install.rs
  src/default_shorthands.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render, shellcheck

chore: Release rtx-cli version 2023.12.40
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
  src/default_shorthands.rs
Due: none

chore: Release rtx-cli version 2023.12.40
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
  src/default_shorthands.rs
Due: none
