Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

consolidate asset hosts
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/demo.tape
  packaging/homebrew/homebrew.rb
  packaging/rpm/rtx.repo
  schema/rtx.json
  schema/rtx.plugin.json
  scripts/release.sh
  src/cli/doctor.rs
  src/cli/version.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
Due: cargo_fmt, clippy, render, shellcheck

consolidate asset hosts
  docs/demo.tape
  packaging/homebrew/homebrew.rb
  packaging/rpm/rtx.repo
  schema/rtx.json
  schema/rtx.plugin.json
  scripts/release.sh
  src/cli/doctor.rs
  src/cli/version.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
Due: cargo_fmt, clippy, render, shellcheck

Create CNAME
  docs/CNAME
Due: none

Delete CNAME
  docs/CNAME
Due: none

chore: Release rtx-cli version 2023.12.22
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.22
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

brew: autoactivate rtx in fish
  packaging/homebrew/homebrew.rb
Due: none

use rtx-versions.jdx.dev to fetch remote versions
  .idea/inspectionProfiles/Project_Default.xml
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/mod.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
Due: cargo_fmt, clippy, render

use rtx-versions.jdx.dev to fetch remote versions (#1136)
  .idea/inspectionProfiles/Project_Default.xml
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/mod.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
Due: cargo_fmt, clippy, render

add jq and python bin to dockerfile
  packaging/rtx/Dockerfile
Due: none

added RTX_USE_VERSION_HOST
  src/env.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/mod.rs
  src/plugins/core/node.rs
  src/plugins/core/node_build.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

add jq and python bin to dockerfile (#1137)
  packaging/rtx/Dockerfile
Due: none

added RTX_USE_VERSION_HOST (#1138)
  src/env.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/mod.rs
  src/plugins/core/node.rs
  src/plugins/core/node_build.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

(python plugin): fixes #1134
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

(python plugin): fixes #1134 (#1135)
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

chore: Release rtx-cli version 2023.12.23
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.23
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

update CLOUDFLARE_ZONE_ID
  .github/workflows/release.yml
  scripts/publish-s3.sh
Due: shellcheck

bump docker/setup-buildx-action
  .github/workflows/docker.yml
Due: none

bump docker/setup-buildx-action (#1139)
  .github/workflows/docker.yml
Due: none

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
