Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

chore: Release rtx-cli version 2023.12.10
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.10
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

refactor: get rid of Tools struct
  src/cli/current.rs
  src/cli/doctor.rs
  src/cli/external.rs
  src/cli/install.rs
  src/cli/latest.rs
  src/cli/ls.rs
  src/cli/ls_remote.rs
  src/cli/outdated.rs
  src/cli/plugins/install.rs
  src/cli/plugins/ls.rs
  src/cli/plugins/ls_remote.rs
  src/cli/plugins/uninstall.rs
  src/cli/plugins/update.rs
  src/cli/prune.rs
  src/cli/shell.rs
  src/cli/sync/node.rs
  src/cli/sync/python.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/cli/where.rs
  src/cli/which.rs
  src/config/config_file/legacy_version.rs
  src/config/config_file/mod.rs
  src/config/mod.rs
  src/main.rs
  src/plugins/core/mod.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/runtime_symlinks.rs
  src/shims.rs
  src/tool.rs
  src/toolset/mod.rs
  src/toolset/tool_version.rs
  src/toolset/tool_version_list.rs
  src/toolset/tool_version_request.rs
Due: cargo_fmt, clippy, render

completions: fix zsh completion
  completions/_rtx
  src/shell/completions/mod.rs
  src/templates/complete_zsh.tera
Due: cargo_fmt, clippy, render

refactor: get rid of Tools struct (#1093)
  src/cli/current.rs
  src/cli/doctor.rs
  src/cli/external.rs
  src/cli/install.rs
  src/cli/latest.rs
  src/cli/ls.rs
  src/cli/ls_remote.rs
  src/cli/outdated.rs
  src/cli/plugins/install.rs
  src/cli/plugins/ls.rs
  src/cli/plugins/ls_remote.rs
  src/cli/plugins/uninstall.rs
  src/cli/plugins/update.rs
  src/cli/prune.rs
  src/cli/shell.rs
  src/cli/sync/node.rs
  src/cli/sync/python.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/cli/where.rs
  src/cli/which.rs
  src/config/config_file/legacy_version.rs
  src/config/config_file/mod.rs
  src/config/mod.rs
  src/main.rs
  src/plugins/core/mod.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/runtime_symlinks.rs
  src/shims.rs
  src/tool.rs
  src/toolset/mod.rs
  src/toolset/tool_version.rs
  src/toolset/tool_version_list.rs
  src/toolset/tool_version_request.rs
Due: cargo_fmt, clippy, render

completions: fix zsh completion (#1094)
  completions/_rtx
  src/shell/completions/mod.rs
  src/templates/complete_zsh.tera
Due: cargo_fmt, clippy, render

release: support more arm architectures
  .github/workflows/rtx.yml
  scripts/build-tarball.sh
  scripts/release-npm.sh
  scripts/release.sh
  scripts/render-homebrew.sh
  scripts/render-install.sh
Due: shellcheck

release: support more arm architectures
  .github/workflows/rtx.yml
Due: none

release: support more arm architectures (#1095)
  .github/workflows/rtx.yml
  scripts/build-tarball.sh
  scripts/release-npm.sh
  scripts/release.sh
  scripts/render-homebrew.sh
  scripts/render-install.sh
Due: shellcheck

chore: Release rtx-cli version 2023.12.11
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.11
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

ci: added super-linter
  .github/workflows/linter.yml
Due: none

ci: split testing/release into separate workflows
  .github/workflows/release.yml
  .github/workflows/rtx.yml
Due: none

fewer jobs
  .github/workflows/linter.yml
Due: none

restyled
  .github/restyled.yml
Due: none

auto-linting
  .github/workflows/rtx.yml
Due: none

auto-linting
  .github/workflows/linter.yml
  .github/workflows/rtx.yml
Due: none

auto-linting
  .github/workflows/rtx.yml
  README.md
Due: none

mega linter
  .cspell.json
  .github/workflows/mega-linter.yml
  .github/workflows/rtx.yml
  .gitignore
  .jscpd.json
  .mega-linter.yml
Due: none

mega linter
  .devcontainer/devcontainer.json
  .github/workflows/docker.yml
  .github/workflows/test-plugins.yml
  .mega-linter.yml
  README.md
  SECURITY.md
  docs/bun.md
  docs/demo.sh
  docs/deno.md
  docs/go.md
  docs/java.md
  docs/node.md
  docs/python.md
  docs/ruby.md
  packaging/deb/generate-release.sh
  schema/rtx.json
  schema/rtx.plugin.json
  src/plugins/core/assets/rubygems_plugin.rb
Due: none

mega linter
  .mega-linter.yml
Due: none

mega linter
  .github/ISSUE_TEMPLATE/bug_report.md
  .mega-linter.yml
  CONTRIBUTING.md
  docs/go.md
  docs/node.md
  docs/python.md
  src/cli/render_help.rs
Due: cargo_fmt, clippy, render

mega linter
  README.md
Due: none

mega linter
  .mega-linter.yml
  .yamllint.yml
Due: none

mega linter
  .mega-linter.yml
  packaging/alpine/Dockerfile
  packaging/github-actions/Dockerfile
Due: none

Restyled by jq
  schema/rtx.json
  schema/rtx.plugin.json
Due: none

Restyled by prettier-json
  schema/rtx.json
Due: none

Restyled by prettier-markdown
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/java.md
  docs/python.md
Due: none
