Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

env-vars: added "ev" alias
  src/cli/env_vars.rs
Due: cargo_fmt, clippy, render

env-vars: added "ev" alias
  completions/_rtx
  completions/rtx.bash
  docs/cli-reference.md
Due: none

docs
  docs/index.md
Due: none

docs
  docs/.vitepress/config.ts
Due: none

env: added RTX_ENV_FILE config
  e2e/.test-env2
  e2e/test_env
  src/cli/settings/snapshots/rtx__cli__settings__ls__tests__settings_ls.snap
  src/cli/settings/snapshots/rtx__cli__settings__set__tests__settings_set.snap
  src/cli/settings/unset.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__env-5.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-6.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__path_dirs-5.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_alias-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_plugin-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__replace_versions-4.snap
  src/config/mod.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render, shellcheck

docs
  docs/configuration.md
  docs/environments.md
Due: none

env: added RTX_ENV_FILE config (#1305)
  e2e/.test-env2
  e2e/test_env
  src/cli/settings/snapshots/rtx__cli__settings__ls__tests__settings_ls.snap
  src/cli/settings/snapshots/rtx__cli__settings__set__tests__settings_set.snap
  src/cli/settings/unset.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__env-5.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-6.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__path_dirs-5.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_alias-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_plugin-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__replace_versions-4.snap
  src/config/mod.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render, shellcheck

Update configuration.md
  docs/configuration.md
Due: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

consistent dependency versions
  Cargo.toml
Due: none

renovate: ignore asdf/nodejs
  renovate.json
Due: none

renovate: ignore nodenv
  renovate.json
Due: none

renovate: tuck away
  .github/renovate.json
Due: none

renovate: disable dashboard
  .github/renovate.json
Due: none

ci: disable auto package updates
  scripts/pre-release-hook.sh
Due: shellcheck

updated description
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
  scripts/build-deb.sh
  scripts/build-rpm.sh
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
