Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

lint
  scripts/build-windows.ps1
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
  scripts/release.sh
Due: shellcheck

[MegaLinter] Apply linters fixes
  README.md
Due: none

lint
  .github/workflows/rtx.yml
  justfile
Due: just_fmt

lint
  justfile
Due: just_fmt

lint
  .github/restyled.yml
Due: none

Restyled by prettier-markdown
  README.md
Due: none

CI: pnpm -> npm
  .github/workflows/rtx.yml
Due: none

cache zipsign binary
  .github/workflows/release.yml
  scripts/setup-zipsign.sh
Due: shellcheck

CI: use buildjet/github cache
  .github/workflows/release.yml
Due: none

CI: fixed actions syntax
  .github/workflows/release.yml
Due: none

chore: Release rtx-cli version 2023.12.12
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.12
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

CI: allow tag + branch to run the release workflow at the same time
  .github/workflows/release.yml
Due: none

chore: Release rtx-cli version 2023.12.13
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.13
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

CI: stop using custom container since it is missing gpg and it broke the most recent release
  .github/workflows/release.yml
Due: none

chore: Release rtx-cli version 2023.12.14
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
