Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

refactor: minor tweaks to env.rs
  src/env.rs
Due: none

help
  src/cli/activate.rs
Due: cargo_fmt, clippy, render

help
  README.md
  completions/_rtx
  completions/rtx.fish
Due: none

help
  completions/_rtx
  completions/rtx.fish
Due: none

use: show warning if setting a version that will not be used
  .github/workflows/rtx.yml
  e2e/cd/test_bash
  e2e/ruby/test_ruby
  e2e/run_test
  e2e/test_bang
  src/cli/use.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

use: show warning if setting a version that will not be used (#1171)
  .github/workflows/rtx.yml
  e2e/cd/test_bash
  e2e/ruby/test_ruby
  e2e/run_test
  e2e/test_bang
  src/cli/use.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

refactor: --raw parsing
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/shell.rs
  src/cli/upgrade.rs
  src/cli/use.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

chore: Release rtx-cli version 2023.12.26
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.26
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

refactor: make env::ARGS a singleton
  src/cli/exec.rs
  src/cli/mod.rs
  src/cli/plugins/install.rs
  src/cli/snapshots/rtx__cli__exec__tests__exec_fail.snap
  src/config/config_file/rtx_toml.rs
  src/config/settings.rs
  src/env.rs
  src/hook_env.rs
  src/main.rs
Due: cargo_fmt, clippy, render

refactor: make env::ARGS a singleton (#1172)
  src/cli/exec.rs
  src/cli/mod.rs
  src/cli/plugins/install.rs
  src/cli/snapshots/rtx__cli__exec__tests__exec_fail.snap
  src/config/config_file/rtx_toml.rs
  src/config/settings.rs
  src/env.rs
  src/hook_env.rs
  src/main.rs
Due: cargo_fmt, clippy, render

refactor: parse CLI into settings partial
  src/cli/mod.rs
  src/config/config_file/rtx_toml.rs
  src/config/mod.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

set jobs/verbose when raw is set
  src/config/mod.rs
Due: cargo_fmt, clippy, render

whitespace
  src/config/config_file/rtx_toml.rs
Due: cargo_fmt, clippy, render

refactor: parse CLI into settings partial (#1173)
  src/cli/mod.rs
  src/config/config_file/rtx_toml.rs
  src/config/mod.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

refactor: parse CLI into settings partial
  src/config/config_file/rtx_toml.rs
Due: cargo_fmt, clippy, render

refactor: memoize partial settings
  README.md
  src/cli/mod.rs
  src/config/mod.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

readme
  README.md
Due: none

settings refactor (#1174)
  src/cli/mod.rs
  src/config/mod.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

refactor: memoize partial settings
  README.md
Due: none
