Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

build on macos-latest
  .github/workflows/release.yml
Due: none

Added support for additional architectures
  packaging/standalone/install.envsubst
  scripts/render-install.sh
Due: shellcheck

Remove extraneous comment
  packaging/standalone/install.envsubst
Due: none

removed outdated conditional
  .github/workflows/test.yml
Due: none

Fixed shell errors
  packaging/standalone/install.envsubst
Due: none

fix bash command not found override
  man/man1/mise.1
  src/shell/bash.rs
  src/shell/snapshots/mise__shell__bash__tests__activate.snap
Due: cargo_fmt, clippy, render

fix bash command not found override (#1564)
  man/man1/mise.1
  src/shell/bash.rs
  src/shell/snapshots/mise__shell__bash__tests__activate.snap
Due: cargo_fmt, clippy, render

update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

label experimental error
  src/cli/config/generate.rs
  src/cli/config/ls.rs
  src/cli/run.rs
  src/cli/task/deps.rs
  src/cli/task/edit.rs
  src/cli/task/ls.rs
  src/cli/watch.rs
  src/config/env_directive.rs
  src/config/settings.rs
  src/forge/cargo.rs
  src/forge/go.rs
  src/forge/npm.rs
Due: cargo_fmt, clippy, render

convert more things to mise tasks from just
  .github/workflows/test.yml
  .mise.toml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  justfile
  scripts/pre-release-hook.sh
  src/cli/run.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

convert more things to mise tasks from just (#1566)
  .mise.toml
  Cargo.lock
  Cargo.toml
  justfile
  scripts/pre-release-hook.sh
  src/cli/run.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

convert more things to mise tasks from just (#1566)
  .github/workflows/test.yml
  .mise.toml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  justfile
  scripts/pre-release-hook.sh
  src/cli/run.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

use Cargo.* as source
  .mise.toml
Due: none

chore: Release mise version 2024.1.34
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.34
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

docs
  .vitepress/config.ts
  contributing.md
Due: none

docs
  configuration.md
  contributing.md
Due: none

docs
  contributing.md
Due: none

docs
  tasks/index.md
Due: none

shims: use activate_agressive setting
  src/path_env.rs
Due: none

chore: Release mise version 2024.1.35
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.35
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

docker
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/docker.yml
  .gitignore
  .mise.local.toml
  .mise.toml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  completions/_mise
  completions/mise.bash
  completions/mise.fish
  docs/cli-reference.md
  e2e/test_deno
  e2e/test_doctor
  e2e/test_go_install
  e2e/test_npm
  e2e/test_python
  justfile
  man/man1/mise.1
  packaging/dev/Dockerfile
  src/cli/mod.rs
  src/cli/run.rs
  src/cli/tasks/deps.rs
  src/cli/tasks/edit.rs
  src/cli/tasks/ls.rs
  src/cli/tasks/mod.rs
  src/cli/watch.rs
  src/config/settings.rs
  src/shims.rs
  src/task.rs
  src/test.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

docker (#1570)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/dependabot.yml
  .github/workflows/docker.yml
  .gitignore
  .mise.local.toml
  .mise.toml
  CONTRIBUTING.md
  Cargo.lock
  Cargo.toml
  completions/_mise
  completions/mise.bash
  completions/mise.fish
  docs/cli-reference.md
  e2e/test_deno
  e2e/test_doctor
  e2e/test_go_install
  e2e/test_npm
  e2e/test_python
  justfile
  man/man1/mise.1
  packaging/dev/Dockerfile
  src/cli/mod.rs
  src/cli/run.rs
  src/cli/tasks/deps.rs
  src/cli/tasks/edit.rs
  src/cli/tasks/ls.rs
  src/cli/tasks/mod.rs
  src/cli/watch.rs
  src/config/settings.rs
  src/shims.rs
  src/task.rs
  src/test.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

docker (#1570)
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/docker.yml
  .gitignore
  .mise.local.toml
  .mise.toml
  Cargo.lock
  Cargo.toml
  completions/_mise
  completions/mise.bash
  completions/mise.fish
  docs/cli-reference.md
  e2e/test_deno
  e2e/test_doctor
  e2e/test_go_install
  e2e/test_npm
  e2e/test_python
  justfile
  man/man1/mise.1
  packaging/dev/Dockerfile
  src/cli/mod.rs
  src/cli/run.rs
  src/cli/tasks/deps.rs
  src/cli/tasks/edit.rs
  src/cli/tasks/ls.rs
  src/cli/tasks/mod.rs
  src/cli/watch.rs
  src/config/settings.rs
  src/shims.rs
  src/task.rs
  src/test.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

tag version in docker
  .github/workflows/docker.yml
Due: none
