Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

release: fix mise-docs publishing
  scripts/release.sh
Due: shellcheck

release: temporarily disable standalone test
  scripts/test-standalone.sh
Due: shellcheck

chore: Release mise version 2024.1.18
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.18
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

refactor: remove PluginName type alias
  src/cli/alias/ls.rs
  src/cli/alias/mod.rs
  src/cli/args/tool.rs
  src/cli/global.rs
  src/cli/local.rs
  src/cli/ls.rs
  src/cli/plugins/install.rs
  src/cli/plugins/update.rs
  src/cli/prune.rs
  src/cli/sync/node.rs
  src/cli/sync/python.rs
  src/cli/use.rs
  src/config/config_file/legacy_version.rs
  src/config/config_file/mise_toml.rs
  src/config/config_file/mod.rs
  src/config/config_file/tool_versions.rs
  src/config/mod.rs
  src/errors.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/runtime_symlinks.rs
  src/toolset/mod.rs
  src/toolset/tool_version.rs
Due: cargo_fmt, clippy, render

refactor: rename Plugin trait to Forge
  src/cli/current.rs
  src/cli/ls.rs
  src/cli/ls_remote.rs
  src/cli/outdated.rs
  src/cli/plugins/install.rs
  src/cli/prune.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/config/config_file/legacy_version.rs
  src/config/config_file/mise_toml.rs
  src/config/config_file/mod.rs
  src/config/config_file/tool_versions.rs
  src/config/mod.rs
  src/forge/mod.rs
  src/main.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/erlang.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/mod.rs
  src/plugins/core/node.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/runtime_symlinks.rs
  src/shims.rs
  src/toolset/mod.rs
  src/toolset/tool_version.rs
  src/toolset/tool_version_request.rs
Due: cargo_fmt, clippy, render

updated snapshots
  src/shell/snapshots/mise__shell__nushell__tests__hook_init.snap
  src/shell/snapshots/mise__shell__nushell__tests__hook_init_nix.snap
Due: none

Update nushell.rs - Add explicit spread (#1441)
  src/shell/nushell.rs
  src/shell/snapshots/mise__shell__nushell__tests__hook_init.snap
  src/shell/snapshots/mise__shell__nushell__tests__hook_init_nix.snap
Due: cargo_fmt, clippy, render

config: allow using "env._.file|env._.path" instead of "env.mise.file|env.mise.path"
  .mise.toml
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render

docs
  environments.md
Due: none

added commit-and-push
  .mise.toml
Due: none

docs
  .mise.toml
Due: none

Update mise-docs.yml
  .github/workflows/mise-docs.yml
Due: none

Update config.ts
  .vitepress/config.ts
Due: none

split gh action
  .github/workflows/build.yml
  .github/workflows/release.yml
Due: none

split gh action
  .github/workflows/release.yml
Due: none

bun
  .github/workflows/build.yml
  .github/workflows/release.yml
  .mise.toml
  .mise/tasks/release
  pnpm-lock.yaml
Due: none

refactor: clean up arg imports
  src/cli/args/cd_arg.rs
  src/cli/args/env_var_arg.rs
  src/cli/args/log_level_arg.rs
  src/cli/args/mod.rs
  src/cli/args/quiet_arg.rs
  src/cli/args/tool_arg.rs
  src/cli/args/verbose_arg.rs
  src/cli/args/yes_arg.rs
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/global.rs
  src/cli/install.rs
  src/cli/latest.rs
  src/cli/link.rs
  src/cli/local.rs
  src/cli/ls_remote.rs
  src/cli/mod.rs
  src/cli/outdated.rs
  src/cli/run.rs
  src/cli/set.rs
  src/cli/shell.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/cli/use.rs
  src/cli/where.rs
  src/cli/which.rs
  src/config/config_file/mod.rs
  src/toolset/builder.rs
Due: cargo_fmt, clippy, render

cargo: added forge arg
  src/cli/args/forge_arg.rs
  src/cli/args/mod.rs
  src/cli/args/tool_arg.rs
  src/cli/current.rs
  src/cli/doctor.rs
  src/cli/ls.rs
  src/cli/plugins/install.rs
  src/cli/plugins/link.rs
  src/cli/plugins/ls.rs
  src/cli/plugins/uninstall.rs
  src/cli/plugins/update.rs
  src/config/config_file/mise_toml.rs
  src/config/config_file/tool_versions.rs
  src/config/mod.rs
  src/forge/mod.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
Due: cargo_fmt, clippy, render

forge: added forge arg parsing
  src/cli/args/forge_arg.rs
  src/cli/args/tool_arg.rs
  src/cli/install.rs
  src/cli/latest.rs
  src/cli/link.rs
  src/cli/ls_remote.rs
  src/cli/outdated.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/cli/use.rs
  src/cli/where.rs
  src/config/config_file/mod.rs
  src/forge/mod.rs
  src/toolset/builder.rs
Due: cargo_fmt, clippy, render

forge: get double_tool_condition to work with new ToolArg
  src/cli/args/tool_arg.rs
  src/cli/install.rs
  src/cli/local.rs
  src/cli/uninstall.rs
Due: cargo_fmt, clippy, render

fix: add r plugin with lowercase name
  plugins/r
Due: none
