Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

Update environments.md (#26)
  environments.md
Due: none

add vim and neovim IDE integration (#27)
  ide-integration.md
Due: none

Update configuration.md
  configuration.md
Due: none

updated clap_complete
  Cargo.lock
  completions/mise.bash
Due: none

feat(config): support arrays of env tables
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render

feat(config): support arrays of env tables (#1503)
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render

cargo: allow cargo-binstall from mise itself
  src/env.rs
  src/file.rs
  src/forge/cargo.rs
Due: cargo_fmt, clippy, render

cargo: allow cargo-binstall from mise itself (#1507)
  src/env.rs
  src/file.rs
  src/forge/cargo.rs
Due: cargo_fmt, clippy, render

feat(template): add join_path filter
  src/tera.rs
Due: none

feat(template): add join_path filter (#1508)
  src/tera.rs
Due: none

fix(tasks): prevent implicit globbing of sources/outputs
  schema/mise.json
  src/cli/run.rs
Due: cargo_fmt, clippy, render

Delete lefthook.yml
  lefthook.yml
Due: none

feat: add other arm targets for cargo-binstall
  Cargo.toml
Due: none

feat: add other arm targets for cargo-binstall (#1510)
  Cargo.toml
Due: none

Update shims.md
  dev-tools/shims.md
Due: none

fix(tasks): prevent implicit globbing of sources/outputs (#1509)
  schema/mise.json
  src/cli/run.rs
Due: cargo_fmt, clippy, render

turn back on `cargo update` on release
  .mise.toml
  scripts/pre-release-hook.sh
Due: shellcheck

fix release script
  scripts/pre-release-hook.sh
Due: shellcheck

chore: Release mise version 2024.1.25
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

chore: Release mise version 2024.1.25
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none
