Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

install: docs
  docs/cli-reference.md
  src/cli/install.rs
Due: cargo_fmt, clippy, render

demo
  README.md
  docs/demo.gif
  docs/demo.sh
  docs/demo.tape
Due: none

demo (#1348)
  docs/demo.gif
  docs/demo.sh
  docs/demo.tape
Due: none

demo (#1348)
  README.md
  docs/demo.gif
  docs/demo.sh
  docs/demo.tape
Due: none

plugin-install: fix ssh urls
  src/cli/plugins/install.rs
  src/cli/plugins/snapshots/mise__cli__plugins__install__tests__plugin_install_invalid_url.snap
Due: cargo_fmt, clippy, render

docs
  docs/.vitepress/config.ts
  docs/ci-cd.md
  docs/faq.md
  docs/macos-rosetta.md
  docs/shebang.md
  docs/tips-and-tricks.md
Due: none

plugin-install: fix ssh urls (#1349)
  src/cli/plugins/install.rs
  src/cli/plugins/snapshots/mise__cli__plugins__install__tests__plugin_install_invalid_url.snap
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.4
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

chore: Release mise version 2024.1.4
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

docs
  .mise/tasks/release
Due: none

mise 2024.1.4
  docs/cli/index.md
Due: none

migrate: skip ruby installs
  src/migrate.rs
Due: none

fixed man page
  man/man1/mise.1
  src/cli/render_mangen.rs
Due: cargo_fmt, clippy, render

Better to suggest the new alias for reinstalls :-)
  docs/rtx.md
Due: none

Update README.md
  README.md
Due: none

d
  docs/rtx.md
Due: none

fix: remove comma from conflicts
  scripts/release-aur.sh
Due: shellcheck

fix: remove comma from conflicts (#1353)
  scripts/release-aur.sh
Due: shellcheck

Update README.md to link to rtx page (#1352)
  README.md
Due: none

not-found: use "[" instead of "test"
  src/shell/bash.rs
  src/shell/snapshots/mise__shell__bash__tests__hook_init.snap
  src/shell/snapshots/mise__shell__bash__tests__hook_init_nix.snap
  src/shell/snapshots/mise__shell__zsh__tests__hook_init.snap
  src/shell/snapshots/mise__shell__zsh__tests__hook_init_nix.snap
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

not-found: use "[" instead of "test" (#1355)
  src/shell/bash.rs
  src/shell/snapshots/mise__shell__bash__tests__hook_init.snap
  src/shell/snapshots/mise__shell__bash__tests__hook_init_nix.snap
  src/shell/snapshots/mise__shell__zsh__tests__hook_init.snap
  src/shell/snapshots/mise__shell__zsh__tests__hook_init_nix.snap
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

logging: prevent loading multiple times
  src/logger.rs
Due: none

logging: prevent loading multiple times (#1358)
  src/logger.rs
Due: none
