Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

publish schema to r2
  scripts/publish-s3.sh
Due: shellcheck

chore: Release mise version 2024.1.11
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/cli/doctor.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.11
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/cli/doctor.rs
Due: cargo_fmt, clippy, render

added missing settings from `mise settings set`
  src/cli/settings/set.rs
Due: cargo_fmt, clippy, render

python: fixed python_compile and all_compile settings
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.12
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.12
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

fix: remove remark about Zulu distribution that no longer applies
  docs/lang/java.md
Due: none

reverse paths order
  src/path_env.rs
Due: none

add path separator
  e2e/test_shims
Due: shellcheck

add path separator (#1398)
  e2e/test_shims
Due: shellcheck

docs: Update python.md
  docs/lang/python.md
Due: none

prevent adding relative/empty paths during activation
  e2e/test_path_safety
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/nushell.rs
  src/shell/xonsh.rs
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render, shellcheck

docs: fix badges for Kind, Batect & Rclone (#939)
  README.md
Due: none

feat: add asdf-temporal plugin (#915)
  README.md
  plugins/temporal
Due: none

feat: add hledger and hledger-flow plugins (#913)
  README.md
  plugins/hledger
  plugins/hledger-flow
Due: none

docs: fix jbang links in readme (#914)
  README.md
Due: none

docs: update asdf-etcd build status (#917)
  README.md
Due: none

docs: update kconf build status (#918)
  README.md
Due: none

feat: add pandoc-cli plugin (#919)
  README.md
  plugins/pandoc
Due: none

feat: add tinytex plugin (#920)
  README.md
  plugins/tinytex
Due: none

docs: fix asdf-task build status (#922)
  README.md
Due: none

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
