Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

remove dirs_next in favor of simpler home crate (#1471)
  Cargo.lock
  Cargo.toml
  src/config/mod.rs
  src/env.rs
Due: cargo_fmt, clippy, render

rename internal MISE_BIN env var to __MISE_BIN
  .idea/mise.iml
  src/env.rs
  src/plugins/script_manager.rs
Due: cargo_fmt, clippy, render

rename internal MISE_BIN env var to __MISE_BIN (#1472)
  .idea/mise.iml
  src/env.rs
  src/plugins/script_manager.rs
Due: cargo_fmt, clippy, render

allow using templates in task files
  .mise/tasks/filetask
  src/cli/task/edit.rs
  src/config/config_file/toml.rs
  src/config/mod.rs
  src/task.rs
Due: cargo_fmt, clippy, render

tasks: support array of commands directly
  .mise.local.toml
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render

allow using templates in task files (#1473)
  .mise/tasks/filetask
  src/cli/task/edit.rs
  src/config/config_file/toml.rs
  src/config/mod.rs
  src/task.rs
Due: cargo_fmt, clippy, render

tasks: support array of commands directly (#1474)
  .mise.local.toml
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render

updated dependencies
  Cargo.lock
  completions/mise.bash
  src/shell/completions/fish_complete.rs
Due: cargo_fmt, clippy, render

updated dependencies (#1475)
  Cargo.lock
  completions/mise.bash
  src/shell/completions/fish_complete.rs
Due: cargo_fmt, clippy, render

alphabetize enum
  src/forge/mod.rs
Due: cargo_fmt, clippy, render

update where gopath build is stored
  src/forge/go.rs
Due: cargo_fmt, clippy, render

fix bad get_type
  src/forge/go.rs
Due: cargo_fmt, clippy, render

ensure forge type matches
  Cargo.lock
  Cargo.toml
  deny.toml
  src/forge/mod.rs
  src/main.rs
Due: cargo_fmt, clippy, render

add support for installing directly with go modules (#1470)
  .devcontainer/Dockerfile
  e2e/test_go_install
  src/forge/go.rs
  src/forge/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

ensure forge type matches (#1476)
  Cargo.lock
  Cargo.toml
  deny.toml
  src/forge/mod.rs
  src/main.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.22
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.22
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

format
  README.md
Due: none

Fix the documentation for Xcode
  ide-integration.md
Due: none

fix config_root path
  src/task.rs
Due: none

rtx -> mise (more) (#6)
  README.md
  plugins/hub
  plugins/pipenv
  plugins/poetry
  plugins/tiny
Due: none

Update ide-integration.md
  ide-integration.md
Due: none

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
