Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

feat(tasks): add task timing to run command (#1536)
  src/cli/run.rs
Due: cargo_fmt, clippy, render

fix bash not_found handler
  src/cli/activate.rs
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/mod.rs
  src/shell/nushell.rs
  src/shell/snapshots/mise__shell__bash__tests__activate.snap
  src/shell/snapshots/mise__shell__bash__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__bash__tests__prepend_env.snap
  src/shell/snapshots/mise__shell__bash__tests__prepend_path.snap
  src/shell/snapshots/mise__shell__fish__tests__activate.snap
  src/shell/snapshots/mise__shell__fish__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__fish__tests__prepend_env.snap
  src/shell/snapshots/mise__shell__fish__tests__prepend_path.snap
  src/shell/snapshots/mise__shell__nushell__tests__hook_init.snap
  src/shell/snapshots/mise__shell__nushell__tests__hook_init_nix.snap
  src/shell/snapshots/mise__shell__nushell__tests__prepend_env.snap
  src/shell/snapshots/mise__shell__xonsh__tests__hook_init.snap
  src/shell/snapshots/mise__shell__xonsh__tests__hook_init_nix.snap
  src/shell/snapshots/mise__shell__xonsh__tests__prepend_env.snap
  src/shell/snapshots/mise__shell__zsh__tests__activate.snap
  src/shell/snapshots/mise__shell__zsh__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__zsh__tests__prepend_env.snap
  src/shell/snapshots/mise__shell__zsh__tests__prepend_path.snap
  src/shell/xonsh.rs
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

python: only show precompiled warning if going to use precompiled
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

fix bash not_found handler (#1558)
  completions/_mise
  completions/mise.bash
  completions/mise.fish
  docs/cli-reference.md
  src/cli/activate.rs
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/mod.rs
  src/shell/nushell.rs
  src/shell/snapshots/mise__shell__bash__tests__activate.snap
  src/shell/snapshots/mise__shell__bash__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__bash__tests__prepend_env.snap
  src/shell/snapshots/mise__shell__bash__tests__prepend_path.snap
  src/shell/snapshots/mise__shell__fish__tests__activate.snap
  src/shell/snapshots/mise__shell__fish__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__fish__tests__prepend_env.snap
  src/shell/snapshots/mise__shell__fish__tests__prepend_path.snap
  src/shell/snapshots/mise__shell__nushell__tests__hook_init.snap
  src/shell/snapshots/mise__shell__nushell__tests__hook_init_nix.snap
  src/shell/snapshots/mise__shell__nushell__tests__prepend_env.snap
  src/shell/snapshots/mise__shell__xonsh__tests__hook_init.snap
  src/shell/snapshots/mise__shell__xonsh__tests__hook_init_nix.snap
  src/shell/snapshots/mise__shell__xonsh__tests__prepend_env.snap
  src/shell/snapshots/mise__shell__zsh__tests__activate.snap
  src/shell/snapshots/mise__shell__zsh__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__zsh__tests__prepend_env.snap
  src/shell/snapshots/mise__shell__zsh__tests__prepend_path.snap
  src/shell/xonsh.rs
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

python: fix linux precompiled
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

python: fix linux precompiled (#1559)
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

go: clean up e2e tests
  e2e/direnv/no_tool_versions/rtx-direnv-break-path-source/.envrc
  e2e/direnv/no_tool_versions/rtx-direnv-break-path-target/.envrc
  e2e/direnv/no_tool_versions/test_direnv
  e2e/gopath/.e2e-tool-versions
  e2e/gopath/18/.e2e-tool-versions
  e2e/gopath/21/.e2e-tool-versions
  e2e/gopath/test_gopath
  src/cli/activate.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.31
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.31
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
Due: none

Update getting-started.md
  getting-started.md
Due: none

added "plugins up" alias"
  completions/_mise
  completions/mise.bash
  docs/cli-reference.md
  man/man1/mise.1
  src/cli/plugins/update.rs
Due: cargo_fmt, clippy, render

python: fix settings env vars
  src/config/settings.rs
Due: cargo_fmt, clippy, render

poetry: use compiled python
  e2e/test_poetry
Due: shellcheck

chore: Release mise version 2024.1.32
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.32
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
Due: none

mise 2024.1.32
  cli/index.md
Due: none

shims: treat anything not rtx/mise as a shim
  src/shims.rs
Due: none

chore: Release mise version 2024.1.33
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.33
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

build on macos-latest
  .github/workflows/release.yml
Due: none
