Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

added optional pre-commit hook
  .mise.toml
  lefthook.yml
Due: none

fish: reuse existing command_not_found handler (#1624)
  src/shell/fish.rs
  src/shell/snapshots/mise__shell__fish__tests__activate.snap
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.2.6
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.2.6
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

fix task loading
  .idea/inspectionProfiles/Project_Default.xml
  src/cli/run.rs
  src/cli/tasks/deps.rs
  src/cli/tasks/edit.rs
  src/cli/tasks/ls.rs
  src/config/mod.rs
  src/file.rs
  src/task.rs
Due: cargo_fmt, clippy, render

fix task loading (#1625)
  .idea/inspectionProfiles/Project_Default.xml
  src/cli/run.rs
  src/cli/tasks/deps.rs
  src/cli/tasks/edit.rs
  src/cli/tasks/ls.rs
  src/config/mod.rs
  src/file.rs
  src/task.rs
Due: cargo_fmt, clippy, render

tasks: support global file tasks
  src/config/mod.rs
Due: cargo_fmt, clippy, render

tasks: support global file tasks (#1627)
  src/config/mod.rs
Due: cargo_fmt, clippy, render

ls: add installed/active flags
  src/cli/ls.rs
  src/cli/snapshots/mise__cli__ls__tests__ls_json-2.snap
  src/cli/snapshots/mise__cli__ls__tests__ls_json.snap
Due: cargo_fmt, clippy, render

ls: add installed/active flags (#1629)
  src/cli/ls.rs
  src/cli/snapshots/mise__cli__ls__tests__ls_json-2.snap
  src/cli/snapshots/mise__cli__ls__tests__ls_json.snap
Due: cargo_fmt, clippy, render

revert version bump of `curve25519-dalek` to v4.1.1
  Cargo.lock
Due: none

fish: fix command not found handler
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__env-3.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture-3.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_alias-2.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_alias-3.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_plugin-2.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_plugin.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__replace_versions-2.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__replace_versions.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__set_alias-2.snap
  src/shell/fish.rs
  src/shell/snapshots/mise__shell__fish__tests__activate.snap
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.2.7
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.2.7
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

docs
  docs/cli-reference.md
  src/cli/shell.rs
Due: cargo_fmt, clippy, render

Update python.md
  lang/python.md
Due: none

go: GOROOT/GOBIN/GOPATH changes
  .mise.toml
  e2e/gopath/test_gopath
  e2e/test_go
  e2e/test_go_install
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/settings.rs
  src/env.rs
  src/forge/go.rs
  src/plugins/core/go.rs
  src/ui/ctrlc.rs
Due: cargo_fmt, clippy, render, shellcheck

tasks: ignore non-executable tasks
  src/config/mod.rs
Due: cargo_fmt, clippy, render

tasks: ignore non-executable tasks (#1642)
  src/config/mod.rs
Due: cargo_fmt, clippy, render

fix support for tera templates in tool version strings
  e2e/test_env
  e2e/test_python
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render, shellcheck

fix support for tera templates in tool version strings (#1643)
  e2e/test_env
  e2e/test_python
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render, shellcheck

save space
  scripts/publish-s3.sh
Due: shellcheck
