Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

[MegaLinter] Apply linters fixes
  schema/mise.json
Due: none

remove MISE_SETTINGS
  docs/configuration.md
Due: none

fix: update container-structure-test plugin (#946)
  README.md
  plugins/container-structure-test
Due: none

typo
  docs/getting-started.md
Due: none

Update nushell.rs - Add explicit spread
  src/shell/nushell.rs
Due: cargo_fmt, clippy, render

Document how to use Mise with Xcode projects and Xcode Cloud
  docs/ide-integration.md
Due: none

Extract Xcode Cloud documentation into a Continuous Integration page
  docs/.vitepress/config.ts
  docs/continuous-integration.md
  docs/ide-integration.md
Due: none

docs
  docs/getting-started.md
Due: none

refactor env_var arg
  src/cli/args/env_var.rs
  src/cli/set.rs
Due: cargo_fmt, clippy, render

refactor env_var arg (#1443)
  src/cli/args/env_var.rs
  src/cli/set.rs
Due: cargo_fmt, clippy, render

docs
  .github/workflows/mise-docs.yml
  .mise/tasks/release
  package.json
Due: none

renovate config
  .github/renovate.json
Due: none

settings: read from config.toml (#1439)
  schema/mise.json
  src/cli/doctor.rs
  src/cli/settings/set.rs
  src/config/settings.rs
  src/test.rs
  test/config/config.toml
  test/config/settings.toml
Due: cargo_fmt, clippy, render

activate: use less aggressive PATH modifications by default
  schema/mise.json
  src/cli/hook_env.rs
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

docs
  configuration.md
Due: none

move release from justfile
  .mise.toml
  justfile
Due: just_fmt

added empty errors page
  errors.md
Due: none

bump local version of shfmt
  .tool-versions
Due: none

chore: Release mise version 2024.1.17
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

chore: Release mise version 2024.1.17
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
