Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

python: fix venv python path
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.2
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.2
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
Due: none

Update rtx.md
  docs/rtx.md
Due: none

mise 2024.1.2
  docs/cli/index.md
Due: none

ci: use mise docker containers
  .github/workflows/release.yml
Due: none

ci: skip committing docs if no changes
  scripts/release.sh
Due: shellcheck

standalone: use ~/.local/bin/mise instead of ~/.local/share/mise/bin/mise
  packaging/standalone/install.envsubst
  scripts/test-standalone.sh
Due: shellcheck

standalone: use ~/.local/bin/mise instead of ~/.local/share/mise/bin/mise
  README.md
  packaging/standalone/install.envsubst
  scripts/test-standalone.sh
Due: shellcheck

use ~/.local/bin instead of ~/.local/share/mise/bin
  docs/ci-cd.md
  docs/getting-started.md
  docs/macos-rosetta.md
  docs/rtx.md
Due: none

chore: Release mise version 2024.1.3
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.3
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
Due: none

rtx-plugins -> mise-plugins
  .mise.toml
  SECURITY.md
  completions/_mise
  completions/mise.fish
  docs/cli-reference.md
  e2e/config/.e2e.mise.toml
  e2e/test_local
  e2e/test_plugins_install
  scripts/query-top-plugins.fish
  scripts/update-shorthand-repo.sh
  src/cli/plugins/install.rs
  src/cli/plugins/ls_remote.rs
  src/cli/plugins/update.rs
  src/default_shorthands.rs
  src/git.rs
  src/migrate.rs
Due: cargo_fmt, clippy, render, shellcheck

rtx-plugins -> mise-plugins
  .mise.toml
  completions/_mise
  completions/mise.fish
  docs/cli-reference.md
  e2e/config/.e2e.mise.toml
  e2e/test_local
  e2e/test_plugins_install
  scripts/query-top-plugins.fish
  scripts/update-shorthand-repo.sh
  src/cli/plugins/install.rs
  src/cli/plugins/ls_remote.rs
  src/cli/plugins/update.rs
  src/default_shorthands.rs
  src/git.rs
  src/migrate.rs
Due: cargo_fmt, clippy, render, shellcheck

rtx -> mise
  .idea/modules.xml
  .idea/rtx.iml
Due: none

fix(java): use tar.gz archives to enable symlink support
  src/plugins/core/java.rs
Due: cargo_fmt, clippy, render

aur: add "replaces" field
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

aur: add "replaces" field (#1345)
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

Add additional conflicts
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

fix bin
  scripts/release-aur-bin.sh
Due: shellcheck

fix(java): use tar.gz archives to enable symlink support (#1343)
  src/plugins/core/java.rs
Due: cargo_fmt, clippy, render

Add additional conflicts (#1346)
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

install: docs
  docs/cli-reference.md
  src/cli/install.rs
Due: cargo_fmt, clippy, render
