Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

lint: hadolint
  .hadolint.yaml
Due: none

node: use metadata.rtx.pub for version fetching
  src/plugins/core/node.rs
Due: cargo_fmt, clippy, render

node: use metadata.rtx.pub for version fetching (#1120)
  src/plugins/core/node.rs
Due: cargo_fmt, clippy, render

chore: Release rtx-cli version 2023.12.20
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.20
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

CI: fix deb build docker
  packaging/deb/Dockerfile
Due: none

CI: set git user/email for aur release
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

CI: set git user/email for aur release (#1121)
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

docker: build source from repo
  .dockerignore
  packaging/rtx/Dockerfile
Due: none

chore: lint e2e/test_nodejs
  e2e/test_nodejs
Due: shellcheck

chore(devcontainer): replace deprecated nodesource script
  .devcontainer/Dockerfile
Due: none

chore(devcontainer): add npm packages required by `just` commands
  .devcontainer/Dockerfile
Due: none

versions: make stable by sorting alphanumerically after sorting with semver
  src/cli/ls.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/mod.rs
  src/runtime_symlinks.rs
Due: cargo_fmt, clippy, render

docker lint
  .hadolint.yaml
Due: none

devcontainer: minor fixes for nodesource and npm packages (#1124)
  .devcontainer/Dockerfile
Due: none

alpine: do not create as draft
  scripts/release-alpine.sh
Due: shellcheck

refactor(node): RTX_NODE_COREPACK_ENABLE -> RTX_NODE_COREPACK
  docs/node.md
  e2e/test_nodejs
  src/env.rs
  src/plugins/core/node.rs
Due: cargo_fmt, clippy, render, shellcheck

refactor(node): remove unnecessary `test_corepack`
  src/plugins/core/node.rs
Due: cargo_fmt, clippy, render

versions: make stable by sorting alphanumerically after sorting with semver (#1123)
  src/cli/ls.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/mod.rs
  src/runtime_symlinks.rs
Due: cargo_fmt, clippy, render

versions: run .unique() on versions returned from plugins
  e2e/test_uninstall
  src/cli/local.rs
  src/cli/ls.rs
  src/cli/snapshots/rtx__cli__asdf__tests__fake_asdf_list.snap
  src/cli/snapshots/rtx__cli__link__tests__link.snap
  src/cli/snapshots/rtx__cli__local__tests__local_multiple_versions-3.snap
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  test/data/plugins/tiny/bin/list-all
Due: cargo_fmt, clippy, render, shellcheck

docker: build source from repo (#1122)
  .dockerignore
  .hadolint.yaml
  packaging/rtx/Dockerfile
Due: none

show better error if terminated by signal
  src/cli/exec.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

test: fix tiny versions
  e2e/test_uninstall
Due: shellcheck

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
