Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

chore: Release mise version 2024.1.20
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  docs/cli-reference.md
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

chore: Release mise version 2024.1.20
  Cargo.lock
  Cargo.toml
  default.nix
  docs/cli-reference.md
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

fix: bail out of task suggestion if there are no tasks
  src/cli/run.rs
Due: cargo_fmt, clippy, render

mise 2024.1.20
  cli/index.md
Due: none

fix: bail out of task suggestion if there are no tasks (#1460)
  src/cli/run.rs
Due: cargo_fmt, clippy, render

docs
  getting-started.md
Due: none

docs
  dev-tools/backends/npm.md
Due: none

Update README.md
  README.md
Due: none

fixed urls
  completions/_mise
  completions/mise.bash
  completions/mise.fish
  docs/cli-reference.md
  src/cli/plugins/install.rs
  src/cli/plugins/ls.rs
  src/cli/plugins/mod.rs
Due: cargo_fmt, clippy, render

fixed urls
  docs/cli-reference.md
Due: none

fix: no panic on missing current dir
  src/config/mod.rs
Due: cargo_fmt, clippy, render

fixed deprecated plugins migrate
  src/migrate.rs
Due: none

chore: Release mise version 2024.1.21
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.21
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

mise 2024.1.21
  cli/index.md
Due: none

fix not_found handler when command start with "--"
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/snapshots/mise__shell__bash__tests__hook_init.snap
  src/shell/snapshots/mise__shell__bash__tests__hook_init_nix.snap
  src/shell/snapshots/mise__shell__fish__tests__hook_init.snap
  src/shell/snapshots/mise__shell__fish__tests__hook_init_nix.snap
  src/shell/snapshots/mise__shell__zsh__tests__hook_init.snap
  src/shell/snapshots/mise__shell__zsh__tests__hook_init_nix.snap
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

fix: no panic on missing current dir (#1462)
  src/config/mod.rs
Due: cargo_fmt, clippy, render

fix not_found handler when command start with "--" (#1464)
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/snapshots/mise__shell__bash__tests__hook_init.snap
  src/shell/snapshots/mise__shell__bash__tests__hook_init_nix.snap
  src/shell/snapshots/mise__shell__fish__tests__hook_init.snap
  src/shell/snapshots/mise__shell__fish__tests__hook_init_nix.snap
  src/shell/snapshots/mise__shell__zsh__tests__hook_init.snap
  src/shell/snapshots/mise__shell__zsh__tests__hook_init_nix.snap
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

fix: always load global configs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

fix: always load global configs (#1466)
  src/config/mod.rs
Due: cargo_fmt, clippy, render

add support for installing directly with go modules
  .devcontainer/Dockerfile
  e2e/test_go_install
  src/forge/go.rs
  src/forge/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

remove dirs_next in favor of simpler home crate
  Cargo.lock
  Cargo.toml
  src/env.rs
Due: none

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
