Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

verbose: improve verbose progress bar output (#1187)
  src/cache.rs
  src/cli/plugins/uninstall.rs
  src/errors.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/shims.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

wip
  src/plugins/script_manager.rs
Due: cargo_fmt, clippy, render

wip
  src/cli/use.rs
  src/plugins/mod.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

wip
  src/cli/use.rs
Due: cargo_fmt, clippy, render

wip
  src/cli/install.rs
  src/cli/latest.rs
  src/cli/ls_remote.rs
  src/cli/plugins/install.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/toolset/mod.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

wip
  src/cli/snapshots/rtx__cli__r#use__tests__use_global-2.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_global.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_local-2.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_local-3.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_local-4.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_local-5.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_local-6.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_local-7.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_local-8.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_local.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_local_tool_versions-2.snap
  src/cli/snapshots/rtx__cli__r#use__tests__use_local_tool_versions.snap
  src/cli/use.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

various CLI improvements
  .config/insta.yaml
  e2e/test_link
  src/cli/alias/ls.rs
  src/cli/alias/mod.rs
  src/cli/alias/set.rs
  src/cli/alias/snapshots/rtx__cli__alias__set__tests__alias_set.snap
  src/cli/alias/snapshots/rtx__cli__alias__unset__tests__alias_unset.snap
  src/cli/alias/unset.rs
  src/cli/link.rs
  src/cli/plugins/install.rs
  src/cli/plugins/link.rs
  src/cli/plugins/ls_remote.rs
  src/cli/plugins/uninstall.rs
  src/cli/plugins/update.rs
  src/cli/shell.rs
  src/cli/uninstall.rs
Due: cargo_fmt, clippy, render, shellcheck

various CLI improvements
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
Due: none

e2e test fixes
  e2e/test_go
  e2e/test_nodejs
Due: shellcheck

various CLI improvements (#1190)
  .config/insta.yaml
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  e2e/test_go
  e2e/test_link
  e2e/test_nodejs
  src/cli/alias/ls.rs
  src/cli/alias/mod.rs
  src/cli/alias/set.rs
  src/cli/alias/snapshots/rtx__cli__alias__set__tests__alias_set.snap
  src/cli/alias/snapshots/rtx__cli__alias__unset__tests__alias_unset.snap
  src/cli/alias/unset.rs
  src/cli/link.rs
  src/cli/plugins/install.rs
  src/cli/plugins/link.rs
  src/cli/plugins/ls_remote.rs
  src/cli/plugins/uninstall.rs
  src/cli/plugins/update.rs
  src/cli/shell.rs
  src/cli/uninstall.rs
Due: cargo_fmt, clippy, render, shellcheck

various CLI improvements (#1190)
  .config/insta.yaml
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  e2e/test_go
  e2e/test_link
  e2e/test_nodejs
  src/cli/alias/ls.rs
  src/cli/alias/mod.rs
  src/cli/alias/set.rs
  src/cli/alias/snapshots/rtx__cli__alias__set__tests__alias_set.snap
  src/cli/alias/snapshots/rtx__cli__alias__unset__tests__alias_unset.snap
  src/cli/alias/unset.rs
  src/cli/link.rs
  src/cli/plugins/install.rs
  src/cli/plugins/link.rs
  src/cli/plugins/ls_remote.rs
  src/cli/plugins/uninstall.rs
  src/cli/plugins/update.rs
  src/cli/shell.rs
  src/cli/uninstall.rs
Due: cargo_fmt, clippy, render, shellcheck

chore: Release rtx-cli version 2023.12.28
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.28
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

tweak output layout
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

tweak output layout (#1191)
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

added ability to see config filenames
  src/cli/config/ls.rs
  src/cli/config/mod.rs
  src/cli/trust.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

small refactor on config to break out fetching config filenames
  src/cli/config/ls.rs
  src/cli/config/mod.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

system (#1193)
  src/cli/trust.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

fix indicatif progress bars in dev mode
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

added system config lookup (/etc/rtx/config.toml)
  README.md
  src/config/config_file/mod.rs
  src/config/mod.rs
  src/dirs.rs
Due: cargo_fmt, clippy, render

fix indicatif progress bars in dev mode (#1195)
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

added system config lookup (/etc/rtx/config.toml) (#1194)
  README.md
  src/config/config_file/mod.rs
  src/config/mod.rs
  src/dirs.rs
Due: cargo_fmt, clippy, render

added system config lookup (/etc/rtx/config.toml) (#1194)
  src/config/config_file/mod.rs
  src/config/mod.rs
  src/dirs.rs
Due: cargo_fmt, clippy, render

release: purge both rtx.pub and jdx.rtx.dev asset hosts on releases
  .github/workflows/release.yml
  scripts/publish-s3.sh
Due: shellcheck

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
