Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

test: fix tiny versions
  e2e/test_uninstall
Due: shellcheck

standalone: bug fix
  packaging/standalone/install.envsubst
  scripts/release.sh
Due: shellcheck

CI: only bump homebrew on git tag
  .github/workflows/release.yml
Due: none

release fixes
  .github/workflows/release.yml
  scripts/release.sh
Due: shellcheck

release fixes
  scripts/release.sh
Due: shellcheck

show better error if terminated by signal (#1126)
  src/cli/exec.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

standalone: bug fix (#1130)
  .github/workflows/release.yml
  packaging/standalone/install.envsubst
  scripts/release.sh
Due: shellcheck

(nodejs plugin) add support for automatically shimming package managers with `corepack enable` (#1118)
  docs/node.md
  e2e/test_nodejs
  src/env.rs
  src/plugins/core/node.rs
Due: cargo_fmt, clippy, render, shellcheck

chore: Release rtx-cli version 2023.12.21
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.21
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

CI: switch back to non-buildjet runners
  .github/workflows/release.yml
  .github/workflows/rtx.yml
Due: none

latest: prompt for plugin install
  src/cli/latest.rs
Due: cargo_fmt, clippy, render

latest: prompt for plugin install
  src/cli/snapshots/rtx__cli__latest__tests__latest_missing_plugin.snap
Due: none

latest: prompt for plugin install (#1133)
  src/cli/latest.rs
  src/cli/snapshots/rtx__cli__latest__tests__latest_missing_plugin.snap
Due: cargo_fmt, clippy, render

rm bin script
  .bin/rtx
Due: none

CI: exit alpine release script if no changes
  scripts/release-alpine.sh
Due: shellcheck

settings: add Debug trait
  Cargo.lock
  Cargo.toml
  src/config/config_file/rtx_toml.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/settings.rs
Due: cargo_fmt, clippy, render

settings: add Debug trait (#1131)
  Cargo.lock
  Cargo.toml
  src/config/config_file/rtx_toml.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/settings.rs
Due: cargo_fmt, clippy, render

(python plugin): fixes #1134
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

consolidate asset hosts
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/demo.tape
  packaging/homebrew/homebrew.rb
  packaging/rpm/rtx.repo
  schema/rtx.json
  schema/rtx.plugin.json
  scripts/release.sh
  src/cli/doctor.rs
  src/cli/version.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
Due: cargo_fmt, clippy, render, shellcheck

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
