Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

refactor
  src/shell/completions/zsh_complete.rs
Due: cargo_fmt, clippy, render

CI: skip bump-alpine unless it is a real release
  .github/workflows/release.yml
Due: none

CI: added e2e test for install.sh
  .github/workflows/rtx.yml
  packaging/standalone/install.envsubst
  scripts/release.sh
  scripts/render-install.sh
  scripts/test-standalone.sh
Due: shellcheck

zip: do not require "unzip" utility to unzip archives
  Cargo.lock
  Cargo.toml
  src/file.rs
Due: none

remove
  scripts/test-standalone.sh
Due: shellcheck

zip: do not require "unzip" utility to unzip archives (#1178)
  Cargo.lock
  Cargo.toml
  src/file.rs
Due: none

CI: added e2e test for install.sh (#1176)
  .github/workflows/rtx.yml
  packaging/standalone/install.envsubst
  scripts/release.sh
  scripts/render-install.sh
  scripts/test-standalone.sh
Due: shellcheck

refactor: clean up is_trusted logic
  src/cli/env_vars.rs
  src/config/config_file/mod.rs
  src/config/config_file/rtx_toml.rs
  src/config/config_file/tool_versions.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

bun|deno: remove shorthand repo since these are core plugins now
  scripts/update-shorthand-repo.sh
Due: shellcheck

refactor: clean up is_trusted logic (#1179)
  src/cli/env_vars.rs
  src/config/config_file/mod.rs
  src/config/config_file/rtx_toml.rs
  src/config/config_file/tool_versions.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

test: show time for each e2e test
  e2e/run_test
Due: shellcheck

bun|deno: remove shorthand repo since these are core plugins now (#1180)
  scripts/update-shorthand-repo.sh
Due: shellcheck

CI: consolidate GH action cache
  .github/workflows/test.yml
Due: none

CI: consolidate GH action cache
  e2e/run_all_tests
  e2e/run_test
  scripts/release.sh
Due: shellcheck

CI: test run formatting
  e2e/config/.e2e.rtx.toml
  e2e/run_test
  justfile
  scripts/release.sh
Due: shellcheck, just_fmt

e2e
  e2e/cd/test_bash
  e2e/config/.e2e.rtx.toml
  e2e/test_bun
  e2e/test_local
Due: shellcheck

ci
  e2e/run_test
Due: shellcheck

ci
  e2e/run_all_tests
  e2e/test_local
Due: shellcheck

poetry
  e2e/run_all_tests
  e2e/test_poetry
Due: shellcheck

e2e
  e2e/run_test
  e2e/test_plugins_install
  e2e/test_poetry
Due: shellcheck

poetry
  e2e/test_poetry
  justfile
Due: shellcheck, just_fmt

e2e
  e2e/run_test
  e2e/test_nodejs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
