Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

config: simplify tracking (#1254)
  src/config/mod.rs
  src/config/tracking.rs
Due: cargo_fmt, clippy, render

chore: Release rtx-cli version 2023.12.35
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.35
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

config: simplify loading
  README.md
  src/config/mod.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

config: simplify loading (#1255)
  README.md
  src/config/mod.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

config: simplify loading (#1255)
  src/config/mod.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

Update README.md
  README.md
Due: none

removed test that exited code 0
  src/cli/version.rs
Due: cargo_fmt, clippy, render

init: only use ctrl-c handler if needed
  src/cli/mod.rs
  src/cli/upgrade.rs
  src/main.rs
  src/ui/mod.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
  src/ui/prompt.rs
Due: cargo_fmt, clippy, render

simplify InstallOptions
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/env.rs
  src/cli/exec.rs
  src/config/config_file/rtx_toml.rs
  src/config/mod.rs
  src/config/settings.rs
  src/plugins/rtx_plugin_toml.rs
  src/toml.rs
  src/toolset/mod.rs
  src/ui/table.rs
Due: cargo_fmt, clippy, render

simplify InstallOptions
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/env.rs
  src/cli/exec.rs
  src/config/config_file/rtx_toml.rs
  src/config/mod.rs
  src/config/settings.rs
  src/plugins/rtx_plugin_toml.rs
  src/toml.rs
  src/toolset/mod.rs
  src/ui/table.rs
Due: cargo_fmt, clippy, render

change --quiet to display warnings but not errors
  README.md
  completions/_rtx
  completions/rtx.fish
  src/cli/activate.rs
  src/cli/args/quiet.rs
  src/cli/bin_paths.rs
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/hook_env.rs
  src/cli/shell.rs
  src/config/settings.rs
  src/env.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

change --quiet to display warnings but not errors
  completions/_rtx
  completions/rtx.fish
  src/cli/activate.rs
  src/cli/args/quiet.rs
  src/cli/bin_paths.rs
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/hook_env.rs
  src/cli/shell.rs
  src/config/settings.rs
  src/env.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

docs
  README.md
Due: none

task runner e2e test
  .idea/rtx.iml
  e2e/.gitignore
  e2e/.rtx/tasks/build
  e2e/.rtx/tasks/filetask
  e2e/config/.e2e.rtx.toml
  e2e/test_run
  src/config/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

fix e2e test
  e2e/test_local
Due: shellcheck

chore: Release rtx-cli version 2023.12.36
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.36
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

watch: added new command
  README.md
  src/cli/mod.rs
  src/cli/run.rs
  src/cli/task/edit.rs
  src/cli/task/ls.rs
  src/cli/watch.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
