Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

updated description
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
  scripts/build-deb.sh
  scripts/build-rpm.sh
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

renovate
  .github/renovate.json
Due: none

wip
  .rtx/tasks/release
  docs/.vitepress/config.ts
Due: none

wip
  README.md
Due: none

wip
  .rtx/tasks/release
Due: none

wip
  docs/index.md
Due: none

mise
  .github/workflows/mise-docs.yml
  .rtx/tasks/release
  docs/.vitepress/config.ts
  docs/about.md
  docs/aliases.md
  docs/cache-behavior.md
  docs/ci-cd.md
  docs/cli/index.md
  docs/comparison-to-asdf.md
  docs/configuration.md
  docs/demo.md
  docs/dev-tools.md
  docs/directories.md
  docs/direnv.md
  docs/environments.md
  docs/faq.md
  docs/getting-started.md
  docs/ide-integration.md
  docs/index.md
  docs/lang/bun.md
  docs/lang/deno.md
  docs/lang/go.md
  docs/lang/java.md
  docs/lang/node.md
  docs/lang/python.md
  docs/lang/ruby.md
  docs/macos-rosetta.md
  docs/plugins.md
  docs/profiles.md
  docs/project-roadmap.md
  docs/rtx.md
  docs/shebang.md
  docs/shims.md
  docs/tasks/index.md
  docs/tasks/running-tasks.md
  docs/tasks/script-tasks.md
  docs/tasks/toml-tasks.md
  docs/templates.md
  package.json
Due: none

mise
  docs/about.md
Due: none

mise
  .github/workflows/mise-docs.yml
Due: none

mise
  docs/getting-started.md
  docs/index.md
Due: none

chore: Release mise version 2024.1.0
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.0
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

rtx -> mise
  README.md
Due: none

readme
  README.md
Due: none

Update README.md
  README.md
Due: none

fixed email addresses
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

wip
  .github/workflows/mise-docs.yml
Due: none

fail on r2 error
  scripts/publish-r2.sh
Due: shellcheck

wip
  .mise.toml
  .mise/tasks/release
Due: none

Update rtx.md
  docs/rtx.md
Due: none

Update about.md
  docs/about.md
Due: none

nav
  docs/.vitepress/config.ts
Due: none

update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Update getting-started.md
  docs/getting-started.md
Due: none

fixed npm url
  docs/getting-started.md
Due: none
