Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

chore: Release rtx-cli version 2023.12.14
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

CI: use correct release containers
  .github/workflows/release.yml
Due: none

chore: Release rtx-cli version 2023.12.15
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.15
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

CI: do not publish npm packages during dry runs
  scripts/release-npm.sh
Due: shellcheck

chore: Release rtx-cli version 2023.12.16
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.16
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

CI: do not fail the build if npm publish fails
  scripts/release-npm.sh
Due: shellcheck

chore: Release rtx-cli version 2023.12.17
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.17
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

node: default PATH to current PATH when compiling
  src/cmd.rs
Due: none

Restyled by rustfmt
  src/cmd.rs
Due: none

node: default PATH to current PATH when compiling (#1107)
  src/cmd.rs
Due: none

chore: Release rtx-cli version 2023.12.18
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.18
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

[ISSUE-1110] handle null in java plugin
  src/plugins/core/java.rs
Due: cargo_fmt, clippy, render

deb: fix script issues introduced from linter
  packaging/deb/generate-release.sh
Due: none

[MegaLinter] Apply linters fixes
  packaging/deb/generate-release.sh
Due: none

[ISSUE-1110] handle null in java plugin (#1111)
  src/plugins/core/java.rs
Due: cargo_fmt, clippy, render

deb: fix script issues introduced from linter (#1112)
  packaging/deb/generate-release.sh
Due: none

chore: Release rtx-cli version 2023.12.19
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.19
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

CI: skip autocreating alpine MRs
  scripts/release-alpine.sh
Due: shellcheck

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
