Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

CI: remove nightly toolchain (#1145)
  .github/workflows/rtx.yml
Due: none

chore: Release rtx-cli version 2023.12.24
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.24
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

plugin: skip eager loading of plugin data when installing (#1146)
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

CI: wait for release before bumping homebrew
  .github/workflows/release.yml
Due: none

arch: error if not able to get sha
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

arch: set local gitconfig
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

test-plugins: install erlang doc dependencies
  .github/workflows/test-plugins.yml
Due: none

wip
  .github/workflows/test-plugins.yml
Due: none

hook-env: keep prepended PATH entries in front
  e2e/cd/test_bash
  src/cli/hook_env.rs
  src/env.rs
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/snapshots/rtx__shell__bash__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__bash__tests__hook_init_nix.snap
  src/shell/snapshots/rtx__shell__fish__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__fish__tests__hook_init_nix.snap
  src/shell/snapshots/rtx__shell__zsh__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__zsh__tests__hook_init_nix.snap
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

hook-env: keep prepended PATH entries in front (#1150)
  e2e/cd/test_bash
  src/cli/hook_env.rs
  src/env.rs
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/snapshots/rtx__shell__bash__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__bash__tests__hook_init_nix.snap
  src/shell/snapshots/rtx__shell__fish__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__fish__tests__hook_init_nix.snap
  src/shell/snapshots/rtx__shell__zsh__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__zsh__tests__hook_init_nix.snap
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

erlang core plugin
  .github/workflows/test-plugins.yml
  e2e/test_erlang
  src/plugins/core/erlang.rs
  src/plugins/core/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

erlang core plugin (#1151)
  .github/workflows/test-plugins.yml
  e2e/test_erlang
  src/plugins/core/erlang.rs
  src/plugins/core/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

deno|bun: make non-experimental
  src/plugins/core/mod.rs
Due: cargo_fmt, clippy, render

deno|bun: make non-experimental
  README.md
Due: none

deno|bun: make non-experimental (#1152)
  README.md
  src/plugins/core/mod.rs
Due: cargo_fmt, clippy, render

deno|bun: make non-experimental (#1152)
  src/plugins/core/mod.rs
Due: cargo_fmt, clippy, render

config-environments: make non-experimental
  README.md
  completions/_rtx
  completions/rtx.fish
  src/cli/use.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

config-environments: make non-experimental (#1153)
  completions/_rtx
  completions/rtx.fish
  src/cli/use.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

config-environments: make non-experimental (#1153)
  README.md
  completions/_rtx
  completions/rtx.fish
  src/cli/use.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

python: update python-build if needed
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

python: update python-build if needed (#1154)
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
