Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

chore: Release mise version 2024.1.15
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.15
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

Update comparison-to-asdf.md
  docs/comparison-to-asdf.md
Due: none

fix test suite on alpine
  src/config/settings.rs
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

fix test suite on alpine
  .mise.toml
  justfile
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
Due: cargo_fmt, clippy, render, just_fmt

fix test suite on alpine (#1433)
  .mise.toml
  justfile
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/settings.rs
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render, just_fmt

python: do not panic if precompiled arch/os is not supported
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

python: do not panic if precompiled arch/os is not supported (#1434)
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

de-asdf-ify
  .github/ISSUE_TEMPLATE/bug_report.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yaml
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

rtx -> mise
  README.md
Due: none

add docs for `mise set`
  docs/environments.md
Due: none

Update environments.md
  docs/environments.md
Due: none

env-vars: improvements
  completions/_mise
  completions/mise.bash
  completions/mise.fish
  docs/cli-reference.md
  e2e/test_poetry
  man/man1/mise.1
  src/cli/args/env_var.rs
  src/cli/mod.rs
  src/cli/set.rs
  src/cli/snapshots/mise__cli__env_vars__tests__show_env_vars.snap
  src/cli/snapshots/mise__cli__set__tests__env_vars-3.snap
  src/cli/snapshots/mise__cli__set__tests__env_vars-5.snap
  src/cli/snapshots/mise__cli__set__tests__env_vars_remove-3.snap
  src/cli/snapshots/mise__cli__set__tests__env_vars_remove-6.snap
  src/cli/snapshots/mise__cli__set__tests__show_env_vars.snap
  src/cli/snapshots/mise__cli__unset__tests__unset_remove-4.snap
  src/cli/unset.rs
Due: cargo_fmt, clippy, render, shellcheck

env-vars: improvements (#1435)
  completions/_mise
  completions/mise.bash
  completions/mise.fish
  docs/cli-reference.md
  e2e/test_poetry
  man/man1/mise.1
  src/cli/args/env_var.rs
  src/cli/mod.rs
  src/cli/set.rs
  src/cli/snapshots/mise__cli__env_vars__tests__show_env_vars.snap
  src/cli/snapshots/mise__cli__set__tests__env_vars-3.snap
  src/cli/snapshots/mise__cli__set__tests__env_vars-5.snap
  src/cli/snapshots/mise__cli__set__tests__env_vars_remove-3.snap
  src/cli/snapshots/mise__cli__set__tests__env_vars_remove-6.snap
  src/cli/snapshots/mise__cli__set__tests__show_env_vars.snap
  src/cli/snapshots/mise__cli__unset__tests__unset_remove-4.snap
  src/cli/unset.rs
Due: cargo_fmt, clippy, render, shellcheck

chore: Release mise version 2024.1.16
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

chore: Release mise version 2024.1.16
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

mise 2024.1.16
  docs/cli/index.md
Due: none

feat: add earthly plugin (#934)
  README.md
  plugins/earthly
Due: none

Fix missing ASDF_PLUGIN_PATH environment variable
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

Fix missing ASDF_PLUGIN_PATH environment variable (#1437)
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

docs
  docs/.vitepress/config.ts
Due: none

tuist: set first-party (#5)
  plugins/tuist
Due: none

settings: remove warning about moving to settings.toml
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render

settings: read from config.toml
  schema/mise.json
  src/cli/doctor.rs
  src/cli/settings/set.rs
  src/config/settings.rs
  src/test.rs
  test/config/config.toml
  test/config/settings.toml
Due: cargo_fmt, clippy, render
