Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

Update the Elixir plugin (#1)
  plugins/elixir
Due: none

updated elixir in readme (#2)
  README.md
Due: none

env: use `mise.file`/`mise.path` config
  .mise.toml
  e2e/config/.e2e.mise.toml
  e2e/test_local
  schema/mise.json
  src/cli/config/generate.rs
  src/cli/config/snapshots/mise__cli__config__generate__tests__generate.snap
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/snapshots/mise__cli__settings__ls__tests__settings_ls.snap
  src/cli/settings/snapshots/mise__cli__settings__set__tests__settings_set.snap
  src/cli/settings/unset.rs
  src/config/config_file/mise_toml.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render, shellcheck

[MegaLinter] Apply linters fixes
  schema/mise.json
Due: none

env: use `mise.file`/`mise.path` config (#1361)
  .mise.toml
  e2e/config/.e2e.mise.toml
  e2e/test_local
  schema/mise.json
  src/cli/config/generate.rs
  src/cli/config/snapshots/mise__cli__config__generate__tests__generate.snap
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/snapshots/mise__cli__settings__ls__tests__settings_ls.snap
  src/cli/settings/snapshots/mise__cli__settings__set__tests__settings_set.snap
  src/cli/settings/unset.rs
  src/config/config_file/mise_toml.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render, shellcheck

chore: Release mise version 2024.1.5
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

chore: Release mise version 2024.1.5
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

test: fixed elixir test case
  src/shorthands.rs
Due: none

tasks: set CLICOLOR_FORCE=1 and FORCE_COLOR=1
  src/cli/run.rs
  src/cmd.rs
Due: cargo_fmt, clippy, render

tasks: set CLICOLOR_FORCE=1 and FORCE_COLOR=1 (#1364)
  src/cli/run.rs
  src/cmd.rs
Due: cargo_fmt, clippy, render

tasks: set --interleaved if graph is linear
  src/cli/run.rs
Due: cargo_fmt, clippy, render

tasks: set --interleaved if graph is linear (#1365)
  src/cli/run.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.6
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.6
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

show better error when attemping to install core plugin
  src/cli/plugins/install.rs
  src/cli/plugins/snapshots/mise__cli__plugins__install__tests__plugin_install_invalid_url.snap
Due: cargo_fmt, clippy, render

show better error when attemping to install core plugin (#1366)
  src/cli/plugins/install.rs
  src/cli/plugins/snapshots/mise__cli__plugins__install__tests__plugin_install_invalid_url.snap
Due: cargo_fmt, clippy, render

Update rtx.md
  docs/rtx.md
Due: none

docs
  docs/.vitepress/config.ts
  docs/about.md
  docs/rtx.md
Due: none

docs
  docs/.vitepress/config.ts
  docs/about.md
Due: none

docs
  docs/configuration.md
  docs/environments.md
Due: none

updated gpg key
  docs/getting-started.md
Due: none

Ruby installs are also not auto-migrated
  docs/rtx.md
Due: none

Add `description` to task object in JSON schema
  schema/mise.json
Due: none

fix(configuration): fix config file path
  docs/configuration.md
Due: none

fixed migration script
  src/migrate.rs
Due: none

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
