Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

fixed npm url
  docs/getting-started.md
Due: none

2024
  LICENSE
  docs/getting-started.md
  docs/project-roadmap.md
Due: none

2024
  LICENSE
Due: none

added about link
  docs/index.md
Due: none

fixed crate badge
  README.md
Due: none

fixed rtx-plugins references
  docs/cli/index.md
  docs/dev-tools.md
  docs/faq.md
  docs/lang/go.md
  docs/lang/java.md
  docs/lang/ruby.md
  docs/plugins.md
Due: none

wip
  docs/dev-tools.md
Due: none

rtx -> mise
  docs/cache-behavior.md
  docs/cli/index.md
  docs/configuration.md
  docs/direnv.md
  docs/environments.md
  docs/faq.md
  docs/getting-started.md
  docs/lang/go.md
  docs/lang/node.md
  docs/lang/python.md
  docs/lang/ruby.md
  docs/macos-rosetta.md
  docs/plugins.md
  docs/profiles.md
  docs/rtx.md
  docs/tasks/index.md
  docs/tasks/running-tasks.md
Due: none

rtx -> mise
  docs/lang/bun.md
  docs/lang/deno.md
  docs/lang/go.md
  docs/lang/java.md
  docs/lang/node.md
  docs/lang/python.md
  docs/lang/ruby.md
Due: none

Update rtx.md
  docs/rtx.md
Due: none

Rename mise-cli to mise
  docs/getting-started.md
Due: none

docs: Mention RTX_* env vars are no longer read
  docs/rtx.md
Due: none

added contact
  docs/.vitepress/config.ts
  docs/contact.md
Due: none

docs: tweak cli reference
  docs/cli-reference.md
  src/cli/render_help.rs
Due: cargo_fmt, clippy, render

use: fix MISE_ASDF_COMPAT=1
  docs/cli-reference.md
  src/cli/use.rs
Due: cargo_fmt, clippy, render

auto-publish cli reference to docs
  .github/workflows/release.yml
  scripts/release.sh
Due: shellcheck

use: fix MISE_ASDF_COMPAT=1 (#1340)
  docs/cli-reference.md
  src/cli/use.rs
Due: cargo_fmt, clippy, render

migrate improvements
  src/migrate.rs
Due: none

Update contact.md
  docs/contact.md
Due: none

doctor: fixed reading settings from config
  src/cli/doctor.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.1
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.1
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
Due: none

python: fix venv python path
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render
