Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

prevent adding relative/empty paths during activation (#1400)
  e2e/test_path_safety
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/nushell.rs
  src/shell/xonsh.rs
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render, shellcheck

handle 404s (#1408)
  src/http.rs
Due: none

disallow [settings] header in settings.toml
  src/config/settings.rs
Due: cargo_fmt, clippy, render

allow expanding "~" for trusted_config_paths
  src/config/config_file/mod.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

allow expanding "~" for trusted_config_paths (#1409)
  src/config/config_file/mod.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

docs
  docs/how-i-use-mise.md
Due: none

disallow [settings] header in settings.toml (#1410)
  src/config/settings.rs
Due: cargo_fmt, clippy, render

fix the caller
  src/path_env.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

change name of MISE_CONFIG_FILE to MISE_GLOBAL_CONFIG_FILE
  docs/configuration.md
Due: none

use ~/.tool-versions globally
  src/cli/doctor.rs
  src/config/mod.rs
  src/env.rs
Due: cargo_fmt, clippy, render

use ~/.tool-versions globally (#1414)
  src/cli/doctor.rs
  src/config/mod.rs
  src/env.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.13
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

chore: Release mise version 2024.1.13
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

Mention shims approach in an FAQ
  docs/faq.md
Due: none

load manually configured paths before tool paths
  e2e/.gitignore
  e2e/test_python
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

Correct PATH for python venvs (#1395)
  e2e/.gitignore
  e2e/test_python
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

loosen regex for runtime symlink generation
  src/plugins/mod.rs
  src/runtime_symlinks.rs
Due: cargo_fmt, clippy, render

downgrade rpm dockerfile
  packaging/rpm/Dockerfile
Due: none

algolia
  docs/.vitepress/config.ts
Due: none

Revert "algolia"
  docs/.vitepress/config.ts
Due: none

loosen regex for runtime symlink generation (#1392)
  src/plugins/mod.rs
  src/runtime_symlinks.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.14
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.14
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

Update configuration.md
  docs/configuration.md
Due: none
