Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

fix: add r plugin with lowercase name
  plugins/r
Due: none

fixed tests
  completions/_mise
  completions/mise.bash
  completions/mise.fish
  docs/cli-reference.md
  src/cli/alias/get.rs
  src/cli/alias/ls.rs
  src/cli/alias/mod.rs
  src/cli/alias/set.rs
  src/cli/alias/unset.rs
  src/cli/current.rs
  src/cli/global.rs
  src/cli/local.rs
  src/cli/ls.rs
  src/cli/prune.rs
  src/cli/use.rs
  src/config/config_file/mise_toml.rs
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture-5.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_alias-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_alias.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__set_alias.snap
  src/config/mod.rs
  src/config/snapshots/mise__config__tests__load.snap
  src/runtime_symlinks.rs
  src/shell/completions/fish_complete.rs
  src/shell/completions/zsh_complete.rs
Due: cargo_fmt, clippy, render

docs(go): document prefix matching for old minor versions
  lang/go.md
Due: none

added support for installing directly from npm
  e2e/test_npm
  src/forge/mod.rs
  src/forge/npm.rs
Due: cargo_fmt, clippy, render, shellcheck

added support for installing directly from npm (#1452)
  e2e/test_npm
  src/forge/mod.rs
  src/forge/npm.rs
Due: cargo_fmt, clippy, render, shellcheck

document npm/cargo
  docs/cli-reference.md
  man/man1/mise.1
  src/cli/mod.rs
  src/cli/use.rs
Due: cargo_fmt, clippy, render

docs
  .mise.toml
  .vitepress/config.ts
  about.md
  cli/index.md
  configuration.md
  continuous-integration.md
  dev-tools/aliases.md
  dev-tools/backends/asdf.md
  dev-tools/backends/cargo.md
  dev-tools/backends/npm.md
  dev-tools/comparison-to-asdf.md
  dev-tools/index.md
  dev-tools/shims.md
  directories.md
  direnv.md
  environments.md
  faq.md
  getting-started.md
  index.md
  lang/python.md
  plugins.md
  team.md
Due: none

docs
  .vitepress/config.ts
  dev-tools/backends/index.md
  dev-tools/index.md
Due: none

docs
  dev-tools/backends/index.md
Due: none

add: setting file to handle commands
  src/cli/settings/setting.rs
Due: cargo_fmt, clippy, render

add tests for new settings interface
  .mise.toml
  src/cli/settings/.setting.rs.pending-snap
  src/cli/settings/mod.rs
  src/cli/settings/setting.rs
Due: cargo_fmt, clippy, render

setting pending snap
  src/cli/settings/.setting.rs.pending-snap
Due: none

feat: add command to print task dependency tree
  Cargo.lock
  Cargo.toml
  src/cli/run.rs
  src/cli/task/deps.rs
  src/cli/task/mod.rs
Due: cargo_fmt, clippy, render

move Deps struct to tasks.rs
  Cargo.lock
  src/cli/run.rs
  src/cli/task/deps.rs
  src/task.rs
Due: cargo_fmt, clippy, render

move tree rendition types to ui/tree.rs
  src/cli/task/deps.rs
  src/task.rs
  src/ui/mod.rs
  src/ui/tree.rs
Due: cargo_fmt, clippy, render

dont swallow error
  src/cli/task/deps.rs
Due: cargo_fmt, clippy, render

fix rebase issues
  src/cli/run.rs
  src/cli/task/deps.rs
Due: cargo_fmt, clippy, render

remove crate ptree and implement rendering of a DiGraph as tree
  Cargo.lock
  Cargo.toml
  src/cli/task/deps.rs
  src/cli/task/mod.rs
  src/task.rs
Due: cargo_fmt, clippy, render

fix inconcise doc comment
  src/cli/task/deps.rs
Due: cargo_fmt, clippy, render

add a config.task_with_aliases function and remove filtering
  Cargo.lock
  src/cli/run.rs
  src/cli/task/deps.rs
  src/cli/task/edit.rs
  src/cli/task/ls.rs
  src/cli/watch.rs
  src/config/mod.rs
  src/task.rs
Due: cargo_fmt, clippy, render

remove old command handlers
  src/cli/settings/get.rs
  src/cli/settings/ls.rs
  src/cli/settings/mod.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
Due: cargo_fmt, clippy, render

unset unecessary variables
  .mise.toml
Due: none

add unit tests for tasks deps command
  src/cli/task/deps.rs
  src/ui/tree.rs
Due: cargo_fmt, clippy, render

fix loading npm from mise
  .idea/mise.iml
  .mise.toml
  docs/cli-reference.md
  e2e/test_cargo
  e2e/test_npm
  man/man1/mise.1
  src/cli/args/forge_arg.rs
  src/cli/args/tool_arg.rs
  src/cli/link.rs
  src/cli/mod.rs
  src/cli/use.rs
  src/cmd.rs
  src/forge/cargo.rs
  src/forge/mod.rs
  src/forge/npm.rs
  src/plugins/core/erlang.rs
  src/plugins/core/java.rs
  src/plugins/core/mod.rs
  src/plugins/core/node.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/runtime_symlinks.rs
  src/toolset/tool_version.rs
Due: cargo_fmt, clippy, render, shellcheck

fix loading npm from mise (#1453)
  .idea/mise.iml
  .mise.toml
  docs/cli-reference.md
  e2e/test_cargo
  e2e/test_npm
  man/man1/mise.1
  src/cli/args/forge_arg.rs
  src/cli/args/tool_arg.rs
  src/cli/link.rs
  src/cli/mod.rs
  src/cli/use.rs
  src/cmd.rs
  src/forge/cargo.rs
  src/forge/mod.rs
  src/forge/npm.rs
  src/plugins/core/erlang.rs
  src/plugins/core/java.rs
  src/plugins/core/mod.rs
  src/plugins/core/node.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/runtime_symlinks.rs
  src/toolset/tool_version.rs
Due: cargo_fmt, clippy, render, shellcheck
