Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

added release task
  .github/workflows/rtx-docs.yml
  .rtx.toml
  .rtx/tasks/release
Due: none

added aws creds
  .github/workflows/rtx-docs.yml
Due: none

release depends on build
  .github/workflows/rtx-docs.yml
Due: none

set github url
  docs/.vitepress/config.ts
Due: none

docs: fix allowed values for `RTX_TASK_OUTPUT`
  README.md
Due: none

task: read RTX_TASK_OUTPUT as lowercase
  src/cli/run.rs
Due: cargo_fmt, clippy, render

task: read RTX_TASK_OUTPUT as lowercase (#1288)
  src/cli/run.rs
Due: cargo_fmt, clippy, render

added quickstart
  docs/getting-started/homebrew.md
  docs/getting-started/index.md
  docs/index.md
Due: none

title
  docs/index.md
Due: none

docs
  docs/getting-started/index.md
  docs/index.md
Due: none

docs
  docs/getting-started/direnv.md
  docs/getting-started/shims.md
Due: none

docs
  docs/getting-started/index.md
Due: none

docs
  docs/.vitepress/config.ts
  docs/api-examples.md
  docs/direnv.md
  docs/getting-started.md
  docs/getting-started/direnv.md
  docs/getting-started/shims.md
  docs/index.md
  docs/installation/homebrew.md
  docs/markdown-examples.md
  docs/shims.md
Due: none

make --cd a global flag
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  e2e/test_exec
  src/cli/args/cd.rs
  src/cli/args/mod.rs
  src/cli/args/yes.rs
  src/cli/direnv/envrc.rs
  src/cli/env_vars.rs
  src/cli/exec.rs
  src/cli/local.rs
  src/cli/mod.rs
  src/cli/run.rs
  src/cli/task/edit.rs
  src/cli/use.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__env-5.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-6.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__path_dirs-5.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_alias-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_plugin-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__replace_versions-4.snap
  src/config/config_file/tool_versions.rs
  src/config/mod.rs
  src/config/settings.rs
  src/dirs.rs
  src/env.rs
  src/file.rs
  src/hook_env.rs
  src/plugins/external_plugin_cache.rs
  src/shims.rs
  src/tera.rs
  src/test.rs
Due: cargo_fmt, clippy, render, shellcheck

make --cd a global flag (#1299)
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  e2e/test_exec
  src/cli/args/cd.rs
  src/cli/args/mod.rs
  src/cli/args/yes.rs
  src/cli/direnv/envrc.rs
  src/cli/env_vars.rs
  src/cli/exec.rs
  src/cli/local.rs
  src/cli/mod.rs
  src/cli/run.rs
  src/cli/task/edit.rs
  src/cli/use.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__env-5.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-6.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__path_dirs-5.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_alias-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_plugin-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__replace_versions-4.snap
  src/config/config_file/tool_versions.rs
  src/config/mod.rs
  src/config/settings.rs
  src/dirs.rs
  src/env.rs
  src/file.rs
  src/hook_env.rs
  src/plugins/external_plugin_cache.rs
  src/shims.rs
  src/tera.rs
  src/test.rs
Due: cargo_fmt, clippy, render, shellcheck

make --cd a global flag (#1299)
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  e2e/test_exec
  src/cli/args/cd.rs
  src/cli/args/mod.rs
  src/cli/args/yes.rs
  src/cli/direnv/envrc.rs
  src/cli/env_vars.rs
  src/cli/exec.rs
  src/cli/local.rs
  src/cli/mod.rs
  src/cli/run.rs
  src/cli/task/edit.rs
  src/cli/use.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__env-5.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-6.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__path_dirs-5.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_alias-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_plugin-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__replace_versions-4.snap
  src/config/config_file/tool_versions.rs
  src/config/mod.rs
  src/config/settings.rs
  src/dirs.rs
  src/env.rs
  src/file.rs
  src/hook_env.rs
  src/plugins/external_plugin_cache.rs
  src/shims.rs
  src/tera.rs
  src/test.rs
Due: cargo_fmt, clippy, render, shellcheck

docs
  docs/.vitepress/config.ts
  docs/cli/global-flags.md
Due: none

docs
  docs/direnv.md
Due: none

docs
  docs/.vitepress/config.ts
  docs/index.md
Due: none

docs
  docs/dev-tools.md
  docs/environments.md
  docs/tasks.md
Due: none

docs
  docs/.vitepress/config.ts
  docs/macos-rosetta.md
Due: none

docs
  docs/.vitepress/config.ts
  docs/aliases.md
  docs/cache-behavior.md
  docs/ci-cd.md
  docs/comparison-to-asdf.md
  docs/config-environments.md
  docs/configuration.md
  docs/demo.md
  docs/dev-tools.md
  docs/directories.md
  docs/faq.md
  docs/ide-integration.md
  docs/installation/index.md
  docs/lang/bun.md
  docs/lang/deno.md
  docs/lang/go.md
  docs/lang/java.md
  docs/lang/node.md
  docs/lang/python.md
  docs/lang/ruby.md
  docs/plugins.md
  docs/project-roadmap.md
  docs/shebang.md
  docs/tasks.md
  docs/templates.md
  docs/versioning.md
Due: none

docs
  docs/lang/bun.md
  docs/lang/deno.md
  docs/lang/go.md
  docs/lang/java.md
  docs/lang/node.md
  docs/lang/python.md
  docs/lang/ruby.md
  docs/plugins.md
Due: none

docs
  docs/getting-started.md
  docs/installation/index.md
Due: none

new doc site
  README.md
  docs/deno.md
  docs/go.md
  docs/java.md
  docs/node.md
  docs/python.md
  docs/ruby.md
Due: none

new doc site
  docs/deno.md
  docs/go.md
  docs/java.md
  docs/node.md
  docs/python.md
  docs/ruby.md
Due: none

docs
  docs/.vitepress/config.ts
Due: none

added cli_reference.md
  docs/cli-reference.md
  justfile
  src/cli/render_help.rs
Due: cargo_fmt, clippy, render, just_fmt

added cli_reference.md
  src/cli/render_help.rs
Due: cargo_fmt, clippy, render

added cli_reference.md
  README.md
  src/cli/render_help.rs
Due: cargo_fmt, clippy, render

added cli reference
  docs/.vitepress/config.ts
  docs/cli/index.md
Due: none

fixed links
  README.md
Due: none
