Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

fix loading npm from mise (#1453)
  .idea/mise.iml
  .mise.toml
  docs/cli-reference.md
  e2e/test_cargo
  e2e/test_npm
  man/man1/mise.1
  src/cli/args/forge_arg.rs
  src/cli/args/tool_arg.rs
  src/cli/link.rs
  src/cli/mod.rs
  src/cli/use.rs
  src/cmd.rs
  src/forge/cargo.rs
  src/forge/mod.rs
  src/forge/npm.rs
  src/plugins/core/erlang.rs
  src/plugins/core/java.rs
  src/plugins/core/mod.rs
  src/plugins/core/node.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/runtime_symlinks.rs
  src/toolset/tool_version.rs
Due: cargo_fmt, clippy, render, shellcheck

skip slow cargo test if TEST_ALL is not set
  e2e/test_cargo
Due: shellcheck

skip slow cargo test if TEST_ALL is not set (#1455)
  e2e/test_cargo
Due: shellcheck

chore: Release mise version 2024.1.19
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.19
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

fix conditional for EndBug/add-and-commit@v9 step in test job
  .github/workflows/test.yml
Due: none

docs
  dev-tools/backends/asdf.md
  dev-tools/backends/cargo.md
  dev-tools/backends/npm.md
  dev-tools/comparison-to-asdf.md
  index.md
Due: none

docs
  dev-tools/backends/asdf.md
Due: none

docs
  .mise.toml
  dev-tools/backends/asdf.md
Due: none

tasks: enable stdin under interleaved
  src/cli/run.rs
  src/cmd.rs
Due: cargo_fmt, clippy, render

address linting issues
  src/cli/task/deps.rs
  src/cli/task/edit.rs
  src/ui/tree.rs
Due: cargo_fmt, clippy, render

ci: re-enable standalone test
  scripts/test-standalone.sh
Due: shellcheck

mise 2024.1.19
  cli/index.md
Due: none

Fix typo
  rtx.md
Due: none

feat: add command to print task dependency tree (#1440)
  src/cli/run.rs
  src/cli/task/deps.rs
  src/cli/task/edit.rs
  src/cli/task/ls.rs
  src/cli/task/mod.rs
  src/cli/watch.rs
  src/config/mod.rs
  src/task.rs
  src/ui/mod.rs
  src/ui/tree.rs
Due: cargo_fmt, clippy, render

feat: add command to print task dependency tree (#1440)
  .github/workflows/test.yml
  src/cli/run.rs
  src/cli/task/deps.rs
  src/cli/task/edit.rs
  src/cli/task/ls.rs
  src/cli/task/mod.rs
  src/cli/watch.rs
  src/config/mod.rs
  src/task.rs
  src/ui/mod.rs
  src/ui/tree.rs
Due: cargo_fmt, clippy, render

add completions for task deps command
  completions/mise.bash
  completions/mise.fish
  src/cli/task/deps.rs
Due: cargo_fmt, clippy, render

fix inconcise flag comment
  src/cli/task/deps.rs
Due: cargo_fmt, clippy, render

feat: add completions for task deps command (#1456)
  completions/mise.bash
  completions/mise.fish
  src/cli/task/deps.rs
Due: cargo_fmt, clippy, render

Fix typo in script-tasks.md
  tasks/script-tasks.md
Due: none

fix: add luaJIT plugin with lowercase name (#947)
  plugins/luajit
Due: none

fix: failing tests (#948)
  README.md
Due: none

feat: add interactive selection for tasks if task was not found
  src/cli/run.rs
Due: cargo_fmt, clippy, render

feat: add interactive selection for tasks if task was not found (#1459)
  src/cli/run.rs
Due: cargo_fmt, clippy, render
