Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

completions: new fish completer
  completions/_rtx
  completions/rtx.fish
  src/cli/render_completion.rs
  src/shell/completions/fish_complete.rs
  src/shell/completions/mod.rs
  src/shell/completions/zsh_complete.rs
Due: cargo_fmt, clippy, render

completions: new fish completer (#1084)
  completions/_rtx
  completions/rtx.fish
  src/cli/render_completion.rs
  src/shell/completions/fish_complete.rs
  src/shell/completions/mod.rs
  src/shell/completions/zsh_complete.rs
Due: cargo_fmt, clippy, render

completions: new fish completer
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/ls_remote.rs
  src/shell/completions/fish_complete.rs
Due: cargo_fmt, clippy, render

node: use non-node-build plugin by default
  src/plugins/core/mod.rs
Due: cargo_fmt, clippy, render

completions: new fish completer (#1085)
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/ls_remote.rs
  src/shell/completions/fish_complete.rs
Due: cargo_fmt, clippy, render

completions: new fish completer (#1085)
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/ls_remote.rs
  src/shell/completions/fish_complete.rs
Due: cargo_fmt, clippy, render

node: use non-node-build plugin by default (#1086)
  src/plugins/core/mod.rs
Due: cargo_fmt, clippy, render

chore: Release rtx-cli version 2023.12.9
  Cargo.lock
  Cargo.toml
  README.md
  completions/rtx.bash
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.9
  Cargo.lock
  Cargo.toml
  completions/rtx.bash
  default.nix
  packaging/rpm/rtx.spec
Due: none

config: small refactor to remove usage of mut
  src/config/config_file/rtx_toml.rs
Due: cargo_fmt, clippy, render

completions: fixed bash
  completions/rtx.bash
Due: none

confique: switch .rtx.toml to use SettingsPartial
  README.md
  e2e/run_test
  justfile
  src/cli/latest.rs
  src/cli/local.rs
  src/cli/mod.rs
  src/cli/settings/snapshots/rtx__cli__settings__ls__tests__settings_ls.snap
  src/cli/settings/snapshots/rtx__cli__settings__set__tests__settings_set.snap
  src/cli/settings/unset.rs
  src/cli/version.rs
  src/config/config_file/legacy_version.rs
  src/config/config_file/mod.rs
  src/config/config_file/rtx_toml.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/mod.rs
  src/config/settings.rs
  src/duration.rs
  src/env.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

confique: switch .rtx.toml to use SettingsPartial (#1075)
  README.md
  e2e/run_test
  justfile
  src/cli/latest.rs
  src/cli/local.rs
  src/cli/mod.rs
  src/cli/settings/snapshots/rtx__cli__settings__ls__tests__settings_ls.snap
  src/cli/settings/snapshots/rtx__cli__settings__set__tests__settings_set.snap
  src/cli/settings/unset.rs
  src/cli/version.rs
  src/config/config_file/legacy_version.rs
  src/config/config_file/mod.rs
  src/config/config_file/rtx_toml.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/mod.rs
  src/config/settings.rs
  src/duration.rs
  src/env.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

confique: switch .rtx.toml to use SettingsPartial (#1075)
  e2e/run_test
  justfile
  src/cli/latest.rs
  src/cli/local.rs
  src/cli/mod.rs
  src/cli/settings/snapshots/rtx__cli__settings__ls__tests__settings_ls.snap
  src/cli/settings/snapshots/rtx__cli__settings__set__tests__settings_set.snap
  src/cli/settings/unset.rs
  src/cli/version.rs
  src/config/config_file/legacy_version.rs
  src/config/config_file/mod.rs
  src/config/config_file/rtx_toml.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-2.snap
  src/config/mod.rs
  src/config/settings.rs
  src/duration.rs
  src/env.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

upgrade: added --dry-run
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  lefthook.yml
  src/cli/snapshots/rtx__cli__upgrade__tests__upgrade-2.snap
  src/cli/snapshots/rtx__cli__upgrade__tests__upgrade.snap
  src/cli/upgrade.rs
Due: cargo_fmt, clippy, render

upgrade: added --dry-run (#1088)
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  lefthook.yml
  src/cli/snapshots/rtx__cli__upgrade__tests__upgrade-2.snap
  src/cli/snapshots/rtx__cli__upgrade__tests__upgrade.snap
  src/cli/upgrade.rs
Due: cargo_fmt, clippy, render

upgrade: added --dry-run (#1088)
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  lefthook.yml
  src/cli/snapshots/rtx__cli__upgrade__tests__upgrade-2.snap
  src/cli/snapshots/rtx__cli__upgrade__tests__upgrade.snap
  src/cli/upgrade.rs
Due: cargo_fmt, clippy, render

added building docker images for CI
  .github/workflows/docker.yml
  .github/workflows/rtx.yml
  packaging/github-actions/Dockerfile
  scripts/build-tarball.sh
  scripts/release-npm.sh
  scripts/release.sh
  scripts/render-homebrew.sh
  scripts/render-install.sh
  src/cli/version.rs
  src/file.rs
  src/http.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
Due: cargo_fmt, clippy, render, shellcheck

added building docker images for CI (#1089)
  .github/workflows/docker.yml
  .github/workflows/rtx.yml
  packaging/github-actions/Dockerfile
  scripts/build-tarball.sh
  scripts/release-npm.sh
  scripts/release.sh
  scripts/render-homebrew.sh
  scripts/render-install.sh
  src/cli/version.rs
  src/file.rs
  src/http.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
Due: cargo_fmt, clippy, render, shellcheck

refactor: started the work to merge tool and plugin struct/traits
  src/config/mod.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
  src/plugins/core/node_build.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/tool.rs
Due: cargo_fmt, clippy, render

refactor: started the work to merge tool and plugin struct/traits (#1091)
  src/config/mod.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
  src/plugins/core/node_build.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/tool.rs
Due: cargo_fmt, clippy, render
