Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

status: make missing tool warning more granular (#1577)
  completions/_mise
  completions/mise.fish
  docs/cli-reference.md
  e2e/test_tool_versions_alt
  src/cli/activate.rs
  src/cli/ls.rs
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/config_file/mod.rs
  src/config/mod.rs
  src/config/settings.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

default --quiet to error level
  src/config/mod.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.2.0
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.2.0
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

mise 2024.2.0
  cli/index.md
Due: none

add env.mise.source to schame
  schema/mise.json
Due: none

ci: use m1 macs
  .github/workflows/release.yml
Due: none

settings: improve set/ls commands
  src/cli/config/generate.rs
  src/cli/settings/get.rs
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

add env.mise.source to schame (#1578)
  schema/mise.json
Due: none

settings: improve set/ls commands (#1579)
  src/cli/config/generate.rs
  src/cli/settings/get.rs
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render

doctor: add "dr" alias
  completions/_mise
  completions/mise.bash
  docs/cli-reference.md
  src/cli/doctor.rs
Due: cargo_fmt, clippy, render

Update tips-and-tricks.md
  tips-and-tricks.md
Due: none

Moved musl check to get_arch() function and cleaned up conditional flow
  packaging/standalone/install.envsubst
Due: none

Update README.md
  README.md
Due: none

use a bodged loop to handle go forge submodules
  src/forge/go.rs
Due: cargo_fmt, clippy, render

update e2e to have a go submodule
  e2e/test_go_install
Due: shellcheck

added mise.run
  .idea/mise.iml
  README.md
Due: none

added mise.run
  .idea/mise.iml
Due: none

docs
  continuous-integration.md
  getting-started.md
  rtx.md
  tips-and-tricks.md
Due: none

fixed ctrlc handler
  src/cli/run.rs
  src/cli/upgrade.rs
  src/ui/progress_report.rs
  src/ui/prompt.rs
Due: cargo_fmt, clippy, render

use a bodged loop to handle go forge submodules (#1583)
  e2e/test_go_install
  src/forge/go.rs
Due: cargo_fmt, clippy, render, shellcheck

fixed ctrlc handler (#1584)
  src/cli/run.rs
  src/cli/upgrade.rs
  src/ui/progress_report.rs
  src/ui/prompt.rs
Due: cargo_fmt, clippy, render
