Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

poetry
  justfile
  src/cli/install.rs
  src/shims.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, just_fmt

e2e
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

make more e2e tests slow
  e2e/test_nodejs
  e2e/test_poetry
  e2e/test_python
Due: shellcheck

CI: consolidate GH action cache (#1181)
  .github/workflows/test.yml
  e2e/cd/test_bash
  e2e/config/.e2e.rtx.toml
  e2e/run_all_tests
  e2e/run_test
  e2e/test_bun
  e2e/test_local
  e2e/test_nodejs
  e2e/test_plugins_install
  e2e/test_poetry
  e2e/test_python
  justfile
  scripts/release.sh
  src/cli/install.rs
  src/shims.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

CI: consolidate GH action cache (#1181)
  .github/workflows/rtx.yml
  e2e/cd/test_bash
  e2e/config/.e2e.rtx.toml
  e2e/run_all_tests
  e2e/run_test
  e2e/test_bun
  e2e/test_local
  e2e/test_nodejs
  e2e/test_plugins_install
  e2e/test_poetry
  e2e/test_python
  justfile
  scripts/release.sh
  src/cli/install.rs
  src/shims.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

refactor: use trait object for progress bar wrappers
  e2e/test_poetry
  e2e/test_python
  src/cli/plugins/uninstall.rs
  src/cli/prune.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/cmd.rs
  src/install_context.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
  src/plugins/core/node_build.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/plugins/script_manager.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render, shellcheck

gh
  .github/workflows/test.yml
Due: none

refactor: use trait object for progress bar wrappers (#1182)
  .github/workflows/test.yml
  e2e/test_poetry
  e2e/test_python
  src/cli/plugins/uninstall.rs
  src/cli/prune.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/cmd.rs
  src/install_context.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
  src/plugins/core/node_build.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/plugins/script_manager.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render, shellcheck

refactor: use trait object for progress bar wrappers (#1182)
  e2e/test_poetry
  e2e/test_python
  src/cli/plugins/uninstall.rs
  src/cli/prune.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/cmd.rs
  src/install_context.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
  src/plugins/core/node_build.rs
  src/plugins/core/python.rs
  src/plugins/core/ruby.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/plugins/script_manager.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render, shellcheck

chore: Release rtx-cli version 2023.12.27
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
  src/default_shorthands.rs
Due: none

chore: Release rtx-cli version 2023.12.27
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
  src/default_shorthands.rs
Due: none

trust: find .rtx.local.toml files
  src/cli/trust.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

fix tests
  src/cli/snapshots/rtx__cli__trust__tests__trust-4.snap
  src/cli/trust.rs
  src/config/config_file/tool_versions.rs
Due: cargo_fmt, clippy, render

fix tests
  src/cli/trust.rs
Due: cargo_fmt, clippy, render

gh
  justfile
Due: just_fmt

trust: find .rtx.local.toml files (#1183)
  justfile
  src/cli/snapshots/rtx__cli__trust__tests__trust-4.snap
  src/cli/trust.rs
  src/config/config_file/tool_versions.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render, just_fmt

shims: fix bug that displayed debug info if `-v` or `-vv` was passed
  src/env.rs
  src/shims.rs
Due: none

lint
  src/env.rs
Due: none

lint
  src/cli/version.rs
  src/main.rs
  src/shims.rs
Due: cargo_fmt, clippy, render

shims: fix bug that displayed debug info if `-v` or `-vv` was passed (#1184)
  src/cli/version.rs
  src/env.rs
  src/main.rs
  src/shims.rs
Due: cargo_fmt, clippy, render

readme: update fish notes
  README.md
Due: none

plugin-update: update in parallel
  src/cli/plugins/uninstall.rs
  src/cli/plugins/update.rs
  src/cli/prune.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/config/settings.rs
  src/plugins/core/go.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/plugins/script_manager.rs
  src/toolset/mod.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

lint
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

plugin-update: update in parallel (#1186)
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/plugins/uninstall.rs
  src/cli/plugins/update.rs
  src/cli/prune.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/config/settings.rs
  src/plugins/core/go.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/plugins/script_manager.rs
  src/toolset/mod.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

plugin-update: update in parallel (#1186)
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/plugins/uninstall.rs
  src/cli/plugins/update.rs
  src/cli/prune.rs
  src/cli/uninstall.rs
  src/cli/upgrade.rs
  src/config/settings.rs
  src/plugins/core/go.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/plugins/script_manager.rs
  src/toolset/mod.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

verbose: improve verbose progress bar output
  src/cache.rs
  src/cli/plugins/uninstall.rs
  src/errors.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/shims.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

verbose: improve verbose progress bar output (#1187)
  src/cache.rs
  src/cli/plugins/uninstall.rs
  src/errors.rs
  src/plugins/external_plugin.rs
  src/plugins/mod.rs
  src/shims.rs
  src/ui/multi_progress_report.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
