Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

bump demand
  Cargo.lock
  Cargo.toml
Due: none

runtime_symlinks: do not fail if version parsing fails
  src/runtime_symlinks.rs
Due: none

activate: added --shims
  Cargo.lock
  completions/_mise
  completions/mise.bash
  completions/mise.fish
  docs/cli-reference.md
  src/cli/activate.rs
  src/shell/mod.rs
Due: cargo_fmt, clippy, render

runtime_symlinks: do not fail if version parsing fails
  completions/_mise
  completions/mise.fish
  docs/cli-reference.md
  src/cli/activate.rs
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/mod.rs
  src/shell/snapshots/mise__shell__bash__tests__activate.snap
  src/shell/snapshots/mise__shell__bash__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__bash__tests__prepend_path.snap
  src/shell/snapshots/mise__shell__fish__tests__activate.snap
  src/shell/snapshots/mise__shell__fish__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__fish__tests__prepend_path.snap
  src/shell/snapshots/mise__shell__zsh__tests__activate.snap
  src/shell/snapshots/mise__shell__zsh__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__zsh__tests__prepend_path.snap
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

activate: added --shims (#1483)
  Cargo.lock
  completions/_mise
  completions/mise.bash
  completions/mise.fish
  docs/cli-reference.md
  src/cli/activate.rs
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/mod.rs
  src/shell/snapshots/mise__shell__bash__tests__activate.snap
  src/shell/snapshots/mise__shell__bash__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__bash__tests__prepend_path.snap
  src/shell/snapshots/mise__shell__fish__tests__activate.snap
  src/shell/snapshots/mise__shell__fish__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__fish__tests__prepend_path.snap
  src/shell/snapshots/mise__shell__zsh__tests__activate.snap
  src/shell/snapshots/mise__shell__zsh__tests__activate_nix.snap
  src/shell/snapshots/mise__shell__zsh__tests__prepend_path.snap
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

wip
  getting-started.md
Due: none

fix rtx plugins urls
  lang/go.md
  lang/java.md
  lang/ruby.md
Due: none

remove mise plugins
  lang/go.md
  lang/java.md
  lang/node.md
  lang/ruby.md
Due: none

fish_completion: use `sort -r` instead of `tac`
  completions/mise.fish
  src/shell/completions/fish_complete.rs
Due: cargo_fmt, clippy, render

fish_completion: use `sort -r` instead of `tac` (#1486)
  completions/mise.fish
  src/shell/completions/fish_complete.rs
Due: cargo_fmt, clippy, render

docs
  .vitepress/config.ts
Due: none

outline
  .vitepress/config.ts
Due: none

docs: fix broken link
  dev-tools/comparison-to-asdf.md
Due: none

Update README.md
  README.md
Due: none

aur: fix conflicts
  scripts/release-aur.sh
Due: shellcheck

fix cwd error
  src/tera.rs
Due: none

fix(deps): update rust crate which to v6
  Cargo.lock
  Cargo.toml
Due: none

fix(deps): update rust crate which to v6 (#1490)
  Cargo.lock
  Cargo.toml
Due: none

build on PRs
  .github/workflows/build.yml
Due: none

chore: Release mise version 2024.1.24
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.24
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

mise 2024.1.24
  cli/index.md
Due: none

Update direnv.md
  direnv.md
Due: none
