Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

Restyled by shellharden
  packaging/deb/generate-release.sh
Due: none

Restyled by shfmt
  packaging/deb/generate-release.sh
Due: none

Restyled by whitespace
  SECURITY.md
Due: none

Restyled by standardrb
  src/plugins/core/assets/rubygems_plugin.rb
Due: none

ci: added super-linter (#1096)
  .cspell.json
  .devcontainer/devcontainer.json
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/restyled.yml
  .github/workflows/docker.yml
  .github/workflows/linter.yml
  .github/workflows/mega-linter.yml
  .github/workflows/release.yml
  .github/workflows/rtx.yml
  .github/workflows/test-plugins.yml
  .gitignore
  .jscpd.json
  .mega-linter.yml
  .yamllint.yml
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/bun.md
  docs/demo.sh
  docs/deno.md
  docs/go.md
  docs/java.md
  docs/node.md
  docs/python.md
  docs/ruby.md
  packaging/alpine/Dockerfile
  packaging/deb/generate-release.sh
  packaging/github-actions/Dockerfile
  schema/rtx.json
  schema/rtx.plugin.json
  src/cli/render_help.rs
  src/plugins/core/assets/rubygems_plugin.rb
Due: cargo_fmt, clippy, render

ci: added super-linter (#1096)
  .cspell.json
  .devcontainer/devcontainer.json
  .github/restyled.yml
  .github/workflows/docker.yml
  .github/workflows/linter.yml
  .github/workflows/mega-linter.yml
  .github/workflows/release.yml
  .github/workflows/rtx.yml
  .github/workflows/test-plugins.yml
  .gitignore
  .jscpd.json
  .mega-linter.yml
  .yamllint.yml
  docs/bun.md
  docs/demo.sh
  docs/deno.md
  docs/go.md
  docs/java.md
  docs/node.md
  docs/python.md
  docs/ruby.md
  packaging/alpine/Dockerfile
  packaging/deb/generate-release.sh
  packaging/github-actions/Dockerfile
  schema/rtx.json
  schema/rtx.plugin.json
  src/cli/render_help.rs
  src/plugins/core/assets/rubygems_plugin.rb
Due: cargo_fmt, clippy, render

added ability to do dry runs of releases
  .github/workflows/release.yml
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
  scripts/release.sh
Due: shellcheck

wip
  .github/workflows/release.yml
  .github/workflows/rtx.yml
Due: none

Restyled by shellharden
  scripts/release-aur-bin.sh
  scripts/release.sh
Due: shellcheck

Restyled by shfmt
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
  scripts/release.sh
Due: shellcheck

buildjet
  .github/workflows/release.yml
  .github/workflows/rtx.yml
  scripts/release.sh
Due: shellcheck

buildjet
  .github/workflows/release.yml
  .github/workflows/rtx.yml
Due: none

buildjet
  .github/workflows/release.yml
Due: none

Restyled by shellharden
  scripts/release.sh
Due: shellcheck

rustup
  .github/workflows/release.yml
Due: none

native buliding
  .github/workflows/release.yml
  .github/workflows/rtx.yml
Due: none

native buliding
  .github/actionlint.yaml
  .github/workflows/release.yml
  .github/workflows/test-plugins.yml
Due: none

native buliding
  .hadolint.yaml
  e2e/assert.sh
  packaging/alpine/Dockerfile
  packaging/deb/Dockerfile
  packaging/deb/generate-release.sh
  packaging/github-actions/Dockerfile
  packaging/rpm/Dockerfile
Due: none

native buliding
  .github/workflows/release.yml
Due: none

Restyled by shfmt
  e2e/assert.sh
Due: none

Restyled by whitespace
  packaging/rpm/Dockerfile
Due: none

action fix
  .github/workflows/release.yml
Due: none

compiling
  .editorconfig
  .github/workflows/release.yml
  .github/workflows/rtx.yml
  scripts/build-deb.sh
  scripts/build-rpm.sh
  scripts/build-tarball.sh
  scripts/pre-release-hook.sh
  scripts/publish-s3.sh
  scripts/release-npm.sh
  scripts/render-homebrew.sh
  scripts/render-install.sh
  scripts/setup-zipsign.sh
  scripts/update-shorthand-repo.sh
Due: shellcheck

enable cross again
  .github/workflows/release.yml
Due: none

x64
  .github/workflows/release.yml
Due: none

lint
  .github/restyled.yml
  .github/workflows/rtx.yml
  packaging/homebrew/homebrew.rb
  src/plugins/core/assets/rubygems_plugin.rb
Due: none

Commit from GitHub Actions (rtx)
  src/cli/local.rs
  src/http.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
  src/plugins/core/node_build.rs
  src/toolset/tool_version.rs
Due: cargo_fmt, clippy, render

Restyled by standardrb
  packaging/homebrew/homebrew.rb
  src/plugins/core/assets/rubygems_plugin.rb
Due: none

lint
  .markdown-link-check.json
  README.md
  docs/python.md
Due: none

universal
  scripts/build-tarball.sh
Due: shellcheck

universal
  .github/workflows/release.yml
  .github/workflows/rtx.yml
  .hadolint.yaml
  .mega-linter.yml
  README.md
  justfile
Due: just_fmt

lint
  .devcontainer/Dockerfile
  .github/workflows/release.yml
  scripts/build-windows.ps1
Due: none

lint
  .github/workflows/release.yml
  e2e/test_poetry
  justfile
Due: shellcheck, just_fmt

lint
  justfile
Due: just_fmt

Restyled by prettier-markdown
  README.md
Due: none

Commit from GitHub Actions (rtx)
  .github/ISSUE_TEMPLATE/blank.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  README.md
  SECURITY.md
Due: none

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
