Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

chore: Release mise version 2024.1.27
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.27
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
Due: none

mise 2024.1.27
  cli/index.md
Due: none

docs
  environments.md
Due: none

docs
  bun.lockb
  package.json
Due: none

added `env._.source` feature
  e2e/test_env_source
  man/man1/mise.1
  src/config/env_directive.rs
Due: cargo_fmt, clippy, render, shellcheck

Update environments.md
  environments.md
Due: none

added `env._.source` feature (#1538)
  e2e/test_env_source
  man/man1/mise.1
  src/config/env_directive.rs
Due: cargo_fmt, clippy, render, shellcheck

force update alpine
  scripts/release-alpine.sh
Due: shellcheck

chore: Release mise version 2024.1.28
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.28
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
Due: none

read system and local config settings
  man/man1/mise.1
  src/config/settings.rs
Due: cargo_fmt, clippy, render

use nodejs/golang for writing to .tool-versions
  src/config/config_file/tool_versions.rs
Due: cargo_fmt, clippy, render

read system and local config settings (#1541)
  man/man1/mise.1
  src/config/settings.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.29
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.29
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
Due: none

Update configuration.md
  configuration.md
Due: none

chore: Release mise version 2024.1.29
  man/man1/mise.1
Due: none

fix mangen
  .mise.toml
Due: none

default to precompiled python
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.30
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.30
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/mise.spec
Due: none
