Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

CI: skip autocreating alpine MRs
  scripts/release-alpine.sh
Due: shellcheck

CI: do not fail release if homebrew fails
  .github/workflows/release.yml
Due: none

reuse existing alpine aports branch
  scripts/release-alpine.sh
Due: shellcheck

CI: make alpine releases reuse open draft MRs
  .github/workflows/release.yml
  scripts/release-alpine.sh
Due: shellcheck

CI: separate aur scripts
  .github/workflows/release.yml
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

reuse open branch
  scripts/release-alpine.sh
Due: shellcheck

automerge
  scripts/release-alpine.sh
Due: shellcheck

fix
  .github/workflows/release.yml
  scripts/release-alpine.sh
Due: shellcheck

Update README.md
  README.md
Due: none

CI: make alpine releases reuse open draft MRs (#1113)
  .github/workflows/release.yml
  scripts/release-alpine.sh
  scripts/release-aur-bin.sh
  scripts/release-aur.sh
Due: shellcheck

docker: added jdxcode/rtx image
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  packaging/rtx/Dockerfile
  packaging/standalone/install.envsubst
Due: none

fix
  README.md
  packaging/rtx/Dockerfile
Due: none

fix
  .github/workflows/docker.yml
Due: none

docker: added jdxcode/rtx image (#1117)
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
  README.md
  packaging/rtx/Dockerfile
  packaging/standalone/install.envsubst
Due: none

docker: added jdxcode/rtx image (#1117)
  .github/workflows/docker.yml
  .github/workflows/release.yml
  Dockerfile
  packaging/rtx/Dockerfile
  packaging/standalone/install.envsubst
Due: none

CI: tweak concurrency
  .github/workflows/docker.yml
  .github/workflows/release.yml
Due: none

CI: fix ghcr urls
  .github/workflows/release.yml
Due: none

feat: support RTX_NODE_COREPACK_ENABLE
  docs/node.md
  e2e/test_nodejs
  src/env.rs
  src/plugins/core/node.rs
Due: cargo_fmt, clippy, render, shellcheck

ls-remote: fetch versions in parallel
  src/cli/ls_remote.rs
Due: cargo_fmt, clippy, render

lint dockerfile
  packaging/rtx/Dockerfile
Due: none

ls-remote: fetch versions in parallel (#1119)
  packaging/rtx/Dockerfile
  src/cli/ls_remote.rs
Due: cargo_fmt, clippy, render

lint: hadolint
  .hadolint.yaml
Due: none
