Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

fix: properly handle executable shims when getting diffs
  src/shims.rs
Due: none

fix: properly handle executable shims when getting diffs (#1545)
  src/shims.rs
Due: none

Update ide-integration.md
  ide-integration.md
Due: none

docs
  ide-integration.md
Due: none

Update tips-and-tricks.md
  tips-and-tricks.md
Due: none

Update running-tasks.md
  tasks/running-tasks.md
Due: none

Update index.md
  dev-tools/index.md
Due: none

Update how-i-use-mise.md
  how-i-use-mise.md
Due: none

docs(tasks): updated task docs for pattern matching and grouping (#30)
  tasks/running-tasks.md
  tasks/script-tasks.md
Due: none

docs
  index.md
Due: none

Update comparison-to-asdf.md
  dev-tools/comparison-to-asdf.md
Due: none

updated indexmap
  Cargo.lock
  src/config/config_file/mise_toml.rs
  src/config/config_file/tool_versions.rs
  src/config/env_directive.rs
Due: cargo_fmt, clippy, render

hide system versions from env/bin_paths
  .mise.toml
  e2e/test_bin_paths
  e2e/test_go
  justfile
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

hide system versions from env/bin_paths (#1553)
  .mise.toml
  e2e/test_bin_paths
  e2e/test_go
  justfile
  src/plugins/core/deno.rs
  src/plugins/core/go.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck, just_fmt

codacy badge
  README.md
Due: none

Update configuration.md
  configuration.md
Due: none

feat(tasks): add task timing to run command
  src/cli/run.rs
Due: cargo_fmt, clippy, render

feat(tasks): add task timing to run command (#1536)
  src/cli/run.rs
Due: cargo_fmt, clippy, render

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
