Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

Remove the , which part
  ide-integration.md
Due: none

Update python.md
  lang/python.md
Due: none

fix config_root path (#1477)
  src/task.rs
Due: none

feat: add shorebird plugin (#949)
  README.md
  plugins/shorebird
Due: none

Make the second step 2 the alternative and step 3 optional
  getting-started.md
Due: none

use mise to get development dependencies
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  CONTRIBUTING.md
  Cargo.lock
  justfile
  packaging/github-actions/Dockerfile
Due: just_fmt

use mise to get development dependencies (#1478)
  .devcontainer/Dockerfile
  Cargo.lock
  justfile
  packaging/github-actions/Dockerfile
Due: just_fmt

use mise to get development dependencies (#1478)
  .devcontainer/Dockerfile
  .github/workflows/test.yml
  CONTRIBUTING.md
  Cargo.lock
  justfile
  packaging/github-actions/Dockerfile
Due: just_fmt

plugins: improve post-plugin-update script
  e2e/test_go_install
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render, shellcheck

plugins: improve post-plugin-update script (#1479)
  e2e/test_go_install
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render, shellcheck

Update plugins.md
  plugins.md
Due: none

added erlang docs
  lang/erlang.md
  plugins.md
Due: none

added bun lockfile
  bun.lockb
Due: none

added go backend
  dev-tools/backends/cargo.md
  dev-tools/backends/go.md
  dev-tools/backends/npm.md
Due: none

added go backend
  dev-tools/backends/index.md
Due: none

bump vitepress
  bun.lockb
  package.json
Due: none

sitemap
  .vitepress/config.ts
Due: none

favicon
  public/android-chrome-192x192.png
  public/android-chrome-512x512.png
  public/apple-touch-icon.png
  public/favicon-16x16.png
  public/favicon-32x32.png
  public/favicon.ico
  public/site.webmanifest
Due: none

tasks: only show select if no task specified
  src/cli/run.rs
  src/ui/style.rs
Due: cargo_fmt, clippy, render

tasks: only show select if no task specified (#1481)
  src/cli/run.rs
  src/ui/style.rs
Due: cargo_fmt, clippy, render

tasks: fix project_root when using .config/mise.toml or .mise/config.toml
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render

tasks: show cursor on ctrl-c
  src/cli/run.rs
Due: cargo_fmt, clippy, render

tasks: fix project_root when using .config/mise.toml or .mise/config.toml (#1482)
  src/config/config_file/mise_toml.rs
  src/config/mod.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.23
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

chore: Release mise version 2024.1.23
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

bump demand
  Cargo.lock
  Cargo.toml
Due: none
