Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

chore: Release mise version 2024.1.8
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

sort settings
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__env-5.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture-2.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture-6.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__path_dirs-5.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_alias-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__remove_plugin-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__replace_versions-4.snap
  src/config/settings.rs
Due: cargo_fmt, clippy, render

clean up community-developed plugin warning
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

[MegaLinter] Apply linters fixes
  schema/settings.json
Due: none

added python-precompiled
  docs/lang/python.md
Due: none

python: add support for precompiled binaries
  e2e/test_poetry
  schema/settings.json
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/settings.rs
  src/http.rs
  src/plugins/core/mod.rs
  src/plugins/core/python.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render, shellcheck

python: add support for precompiled binaries (#1388)
  e2e/test_poetry
  schema/settings.json
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/settings.rs
  src/http.rs
  src/plugins/core/mod.rs
  src/plugins/core/python.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render, shellcheck

chore: Release mise version 2024.1.9
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.9
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: fix build config for nix flake
  default.nix
  flake.lock
Due: none

chore: add rust package for `nix develop` shell
  flake.nix
Due: none

fix: nix flake build errors (#1390)
  default.nix
  flake.lock
  flake.nix
Due: none

do not display error if settings is missing
  src/config/settings.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.10
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.1.10
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

toml: check min_version field
  .mise.toml
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render

docs
  docs/lang/python.md
Due: none

settings.toml
  docs/configuration.md
Due: none

settings.toml: add to doctor and fix warning
  src/cli/doctor.rs
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render
