Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

Update packaging/standalone/install.envsubst
  packaging/standalone/install.envsubst
Due: none

Additional arch install (#1562)
  packaging/standalone/install.envsubst
  scripts/render-install.sh
Due: shellcheck

chore: Release mise version 2024.2.1
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.2.1
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

python: minor UI tweak
  src/plugins/core/python.rs
Due: cargo_fmt, clippy, render

mise 2024.2.1
  cli/index.md
Due: none

plugins: ui tweak
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

release: clear cache on mise.run
  scripts/publish-s3.sh
Due: shellcheck

download progress bars
  src/hash.rs
  src/http.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/erlang.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
  src/plugins/core/python.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

download progress bars (#1586)
  src/hash.rs
  src/http.rs
  src/plugins/core/bun.rs
  src/plugins/core/deno.rs
  src/plugins/core/erlang.rs
  src/plugins/core/go.rs
  src/plugins/core/java.rs
  src/plugins/core/node.rs
  src/plugins/core/python.rs
  src/ui/progress_report.rs
Due: cargo_fmt, clippy, render

improve output of shorthand update script
  scripts/update-shorthand-repo.sh
Due: shellcheck

chore: Release mise version 2024.2.2
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

chore: Release mise version 2024.2.2
  Cargo.lock
  Cargo.toml
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
Due: none

show curl progress during install.sh
  packaging/standalone/install.envsubst
Due: none

install tools in order listed in config file when --jobs=1
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

fix lint task
  .mise/config.toml
Due: none

install tools in order listed in config file when --jobs=1 (#1587)
  .mise/config.toml
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

actionlint
  .github/actionlint.yaml
Due: none

Update ide-integration.md
  ide-integration.md
Due: none

add service to task
  schema/mise.json
  src/cli/run.rs
  src/cli/watch.rs
  src/config/config_file/mise_toml.rs
  src/task.rs
Due: cargo_fmt, clippy, render

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
