Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

chore: Release mise version 2024.1.26
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  man/man1/mise.1
  packaging/rpm/mise.spec
  src/default_shorthands.rs
Due: none

mise 2024.1.26
  cli/index.md
Due: none

pass signals to tasks
  .mise.toml
  Cargo.lock
  Cargo.toml
  src/cli/run.rs
  src/cli/upgrade.rs
  src/cmd.rs
  src/ui/ctrlc.rs
  src/ui/mod.rs
  src/ui/progress_report.rs
  src/ui/prompt.rs
  test/fixtures/signal-test.js
Due: cargo_fmt, clippy, render

[MegaLinter] Apply linters fixes
  Cargo.lock
  Cargo.toml
  src/ui/ctrlc.rs
  test/fixtures/signal-test.js
Due: cargo_fmt, clippy, render

pass signals to tasks (#1527)
  .mise.toml
  Cargo.lock
  Cargo.toml
  src/cli/run.rs
  src/cli/upgrade.rs
  src/cmd.rs
  src/ui/ctrlc.rs
  src/ui/mod.rs
  src/ui/progress_report.rs
  src/ui/prompt.rs
  test/fixtures/signal-test.js
Due: cargo_fmt, clippy, render

feat(run): match tasks to run with glob patterns
  Cargo.lock
  Cargo.toml
  src/cli/run.rs
Due: cargo_fmt, clippy, render

doctor: display missing/extra shims
  src/cli/doctor.rs
Due: cargo_fmt, clippy, render

doctor: display missing/extra shims (#1529)
  src/cli/doctor.rs
Due: cargo_fmt, clippy, render

feat(run): match tasks to run with glob patterns (#1528)
  Cargo.lock
  Cargo.toml
  src/cli/run.rs
Due: cargo_fmt, clippy, render

Improve the documentation for Xcode and Xcode Cloud (#29)
  continuous-integration.md
  ide-integration.md
Due: none

feat(tasks): unify glob strategy for tasks and dependencies
  src/cli/run.rs
  src/task.rs
Due: cargo_fmt, clippy, render

feat(tasks): unify glob strategy for tasks and dependencies (#1533)
  src/cli/run.rs
  src/task.rs
Due: cargo_fmt, clippy, render

docs
  configuration.md
Due: none

fix global config with asdf_compat
  .shellcheckrc
  e2e/test_global
  src/cli/global.rs
  src/config/settings.rs
  src/task.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

fix global config with asdf_compat (#1534)
  .shellcheckrc
  e2e/test_global
  src/cli/global.rs
  src/config/settings.rs
  src/task.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

added settings_message settings
  completions/_mise
  completions/mise.fish
  docs/cli-reference.md
  src/cli/activate.rs
  src/cli/hook_env.rs
  src/cli/mod.rs
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/settings.rs
  src/logger.rs
  src/shims.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

added settings_message settings (#1535)
  completions/_mise
  completions/mise.fish
  docs/cli-reference.md
  src/cli/activate.rs
  src/cli/hook_env.rs
  src/cli/mod.rs
  src/cli/settings/ls.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/config/settings.rs
  src/logger.rs
  src/shims.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

env-man
  src/cli/hook_env.rs
  src/cli/set.rs
  src/config/config_file/mise_toml.rs
  src/config/config_file/mod.rs
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__env-2.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__env-3.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__env-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__env-5.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture-5.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__path_dirs-3.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__path_dirs-5.snap
  src/config/config_file/tool_versions.rs
  src/config/env_directive.rs
  src/config/mod.rs
  src/dirs.rs
  src/hook_env.rs
  src/plugins/external_plugin_cache.rs
  src/task.rs
  src/tera.rs
  src/toolset/builder.rs
  src/toolset/mod.rs
  test/fixtures/.env
  test/fixtures/.env2
Due: cargo_fmt, clippy, render

env-man
  e2e/test_go_install
  schema/mise.json
  src/config/config_file/mod.rs
  src/config/env_directive.rs
  src/config/settings.rs
Due: cargo_fmt, clippy, render, shellcheck

env: resolve env vars in order (#1519)
  e2e/test_go_install
  schema/mise.json
  src/cli/hook_env.rs
  src/config/config_file/mise_toml.rs
  src/config/config_file/mod.rs
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__env-2.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__env-3.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__env-4.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__env-5.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture-5.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__fixture.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__path_dirs-3.snap
  src/config/config_file/snapshots/mise__config__config_file__mise_toml__tests__path_dirs-5.snap
  src/config/config_file/tool_versions.rs
  src/config/env_directive.rs
  src/config/mod.rs
  src/config/settings.rs
  src/dirs.rs
  src/hook_env.rs
  src/plugins/external_plugin_cache.rs
  src/task.rs
  src/tera.rs
  src/toolset/builder.rs
  src/toolset/mod.rs
  test/fixtures/.env
  test/fixtures/.env2
Due: cargo_fmt, clippy, render, shellcheck

parse alias + plugins with serde
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render

parse alias + plugins with serde (#1537)
  src/config/config_file/mise_toml.rs
Due: cargo_fmt, clippy, render

chore: Release mise version 2024.1.27
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/mise.spec
Due: none
