Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    cargo_fmt:
      run: cargo fmt --all -- --check
      glob: "src/**/*.rs"
    clippy:
      run: cargo clippy -- -Dwarnings
      glob: "src/**/*.rs"
    render:
      run: just render-help render-completions render-mangen && git add README.md completions man
      glob: "src/**/*.rs"
    shellcheck:
      run: shellcheck -x {all_files} && shfmt -d {all_files}
      glob: "{scripts/*.sh,e2e/test_*,e2e/run_*}"
    just_fmt:
      run: just --unstable --fmt --check
      glob: "justfile"

skip_output:
  - meta
  - summary

linux: use argv0 to find rtx bin (#1222)
  e2e/cd/test_bash
  src/cli/activate.rs
  src/cli/implode.rs
  src/cli/self_update.rs
  src/env.rs
  src/fake_asdf.rs
  src/plugins/script_manager.rs
  src/shims.rs
  src/test.rs
Due: cargo_fmt, clippy, render

use XDG_STATE_HOME
  e2e/run_test
  src/cli/implode.rs
  src/cli/version.rs
  src/config/config_file/mod.rs
  src/config/tracking.rs
  src/dirs.rs
  src/env.rs
  src/file.rs
  src/hook_env.rs
  src/migrate.rs
  src/plugins/external_plugin_cache.rs
  src/test.rs
  test/.gitignore
Due: cargo_fmt, clippy, render, shellcheck

use XDG_STATE_HOME (#1223)
  e2e/run_test
  src/cli/implode.rs
  src/cli/version.rs
  src/config/config_file/mod.rs
  src/config/tracking.rs
  src/dirs.rs
  src/env.rs
  src/file.rs
  src/hook_env.rs
  src/migrate.rs
  src/plugins/external_plugin_cache.rs
  src/test.rs
  test/.gitignore
Due: cargo_fmt, clippy, render, shellcheck

verbose: recommend --verbose over setting log level
  src/env.rs
  src/main.rs
Due: none

test
  src/cli/asdf.rs
Due: cargo_fmt, clippy, render

verbose: recommend --verbose over setting log level (#1224)
  src/cli/asdf.rs
  src/env.rs
  src/main.rs
Due: cargo_fmt, clippy, render

config: minor loading tweaks
  src/config/mod.rs
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

tracing
  Cargo.lock
  Cargo.toml
  src/cli/mod.rs
  src/cli/version.rs
  src/config/mod.rs
  src/logger.rs
  src/main.rs
  src/migrate.rs
  src/shims.rs
  src/toolset/builder.rs
Due: cargo_fmt, clippy, render

chore: Release rtx-cli version 2023.12.32
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.32
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

perf
  src/cli/mod.rs
  src/config/mod.rs
  src/main.rs
Due: cargo_fmt, clippy, render

perf
  src/config/mod.rs
Due: cargo_fmt, clippy, render

plugins-install: install in parallel
  src/cli/plugins/install.rs
Due: cargo_fmt, clippy, render

plugins-install: install in parallel (#1226)
  src/cli/plugins/install.rs
Due: cargo_fmt, clippy, render

make system directory configurable
  README.md
  src/dirs.rs
  src/env.rs
Due: none

make system directory configurable (#1227)
  src/dirs.rs
  src/env.rs
Due: none

make system directory configurable (#1227)
  README.md
  src/dirs.rs
  src/env.rs
Due: none

upgrade: added --interactive
  Cargo.lock
  Cargo.toml
  src/cli/upgrade.rs
Due: cargo_fmt, clippy, render

wip
  Cargo.lock
  Cargo.toml
Due: none

upgrade: added --interactive (#1228)
  Cargo.lock
  Cargo.toml
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/upgrade.rs
Due: cargo_fmt, clippy, render

upgrade: added --interactive (#1228)
  Cargo.lock
  Cargo.toml
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/upgrade.rs
Due: cargo_fmt, clippy, render

confirm: switch to demand from dialogeur
  Cargo.lock
  Cargo.toml
  src/ui/prompt.rs
Due: cargo_fmt, clippy, render

confirm: switch to demand from dialogeur (#1229)
  Cargo.lock
  Cargo.toml
  src/ui/prompt.rs
Due: cargo_fmt, clippy, render
