Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

completions: improve fish tool completions
  completions/rtx.fish
  src/shell/completions/fish_complete.rs
Due: cargo_fmt, clippy, render

completions: improve fish tool completions (#1167)
  completions/rtx.fish
  src/shell/completions/fish_complete.rs
Due: cargo_fmt, clippy, render

completions: complete setting names
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/settings/get.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/shell/completions/fish_complete.rs
  src/shell/completions/zsh_complete.rs
Due: cargo_fmt, clippy, render

completions: complete setting names (#1166)
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/settings/get.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/shell/completions/fish_complete.rs
  src/shell/completions/zsh_complete.rs
Due: cargo_fmt, clippy, render

completions: complete setting names (#1166)
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  src/cli/settings/get.rs
  src/cli/settings/set.rs
  src/cli/settings/unset.rs
  src/shell/completions/fish_complete.rs
  src/shell/completions/zsh_complete.rs
Due: cargo_fmt, clippy, render

flags: move raw+jobs flags to only commands that install
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  e2e/test_local
  src/cli/args/jobs.rs
  src/cli/args/mod.rs
  src/cli/args/raw.rs
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/mod.rs
  src/cli/shell.rs
  src/cli/upgrade.rs
  src/cli/use.rs
  src/cli/which.rs
  src/config/config_file/mod.rs
  src/install_context.rs
  src/shims.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

flags: move raw+jobs flags to only commands that install (#1168)
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  e2e/test_local
  src/cli/args/jobs.rs
  src/cli/args/mod.rs
  src/cli/args/raw.rs
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/mod.rs
  src/cli/shell.rs
  src/cli/upgrade.rs
  src/cli/use.rs
  src/cli/which.rs
  src/config/config_file/mod.rs
  src/install_context.rs
  src/shims.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

flags: move raw+jobs flags to only commands that install (#1168)
  README.md
  completions/_rtx
  completions/rtx.bash
  completions/rtx.fish
  e2e/test_local
  src/cli/args/jobs.rs
  src/cli/args/mod.rs
  src/cli/args/raw.rs
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/mod.rs
  src/cli/shell.rs
  src/cli/upgrade.rs
  src/cli/use.rs
  src/cli/which.rs
  src/config/config_file/mod.rs
  src/install_context.rs
  src/shims.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

test: skip slow e2e tests unless releasing
  .github/workflows/release.yml
  e2e/ruby/test_ruby
  e2e/run_test
  e2e/test_erlang
Due: shellcheck

test: skip slow e2e tests unless releasing
  e2e/ruby/test_ruby
  e2e/test_erlang
Due: shellcheck

test: skip slow e2e tests unless releasing (#1169)
  .github/workflows/release.yml
  e2e/ruby/test_ruby
  e2e/run_test
  e2e/test_erlang
Due: shellcheck

added RTX_RAW env var to --raw flags
  README.md
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/shell.rs
  src/cli/upgrade.rs
  src/cli/use.rs
Due: cargo_fmt, clippy, render

added RTX_RAW env var to --raw flags
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/shell.rs
  src/cli/upgrade.rs
  src/cli/use.rs
Due: cargo_fmt, clippy, render

Revert "added RTX_RAW env var to --raw flags"
  README.md
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/shell.rs
  src/cli/upgrade.rs
  src/cli/use.rs
Due: cargo_fmt, clippy, render

Revert "added RTX_RAW env var to --raw flags"
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/shell.rs
  src/cli/upgrade.rs
  src/cli/use.rs
Due: cargo_fmt, clippy, render

activate: use full path to rtx
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/snapshots/rtx__shell__bash__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__bash__tests__hook_init_nix.snap
  src/shell/snapshots/rtx__shell__fish__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__fish__tests__hook_init_nix.snap
  src/shell/snapshots/rtx__shell__zsh__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__zsh__tests__hook_init_nix.snap
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

activate: use full path to rtx (#1170)
  src/shell/bash.rs
  src/shell/fish.rs
  src/shell/snapshots/rtx__shell__bash__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__bash__tests__hook_init_nix.snap
  src/shell/snapshots/rtx__shell__fish__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__fish__tests__hook_init_nix.snap
  src/shell/snapshots/rtx__shell__zsh__tests__hook_init.snap
  src/shell/snapshots/rtx__shell__zsh__tests__hook_init_nix.snap
  src/shell/zsh.rs
Due: cargo_fmt, clippy, render

e2e: disable verbose mode
  e2e/run_test
Due: shellcheck

e2e: disable npm fund message
  e2e/run_test
Due: shellcheck

install: set jobs=1 if --raw
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

activate: allow overriding rtx binary path with RTX_EXE env var
  src/env.rs
Due: none

refactor: minor tweaks to env.rs
  src/env.rs
Due: none

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
