Repository jdx/mise: changes, and which lefthook commands are due for each by the changed paths.
All: cargo_fmt, clippy, render, shellcheck, just_fmt

cargo_fmt:
  run: cargo fmt --all -- --check

clippy:
  run: cargo clippy -- -Dwarnings

render:
  run: just render-help render-completions render-mangen && git add README.md completions man

shellcheck:
  run: shellcheck -x {all_files} && shfmt -d {all_files}

just_fmt:
  run: just --unstable --fmt --check

export short paths
  e2e/cd/test_bash
  src/cli/bin_paths.rs
  src/cli/direnv/snapshots/rtx__cli__direnv__envrc__tests__direnv_envrc.snap
  src/cli/env.rs
  src/cli/snapshots/rtx__cli__env__tests__env_json.snap
  src/cli/snapshots/rtx__cli__local__tests__local_multiple_versions-3.snap
  src/plugins/external_plugin.rs
  src/plugins/external_plugin_cache.rs
Due: cargo_fmt, clippy, render

erlang: fix caching problems
  src/plugins/core/erlang.rs
Due: cargo_fmt, clippy, render

export short paths (#1214)
  e2e/cd/test_bash
  src/cli/bin_paths.rs
  src/cli/direnv/snapshots/rtx__cli__direnv__envrc__tests__direnv_envrc.snap
  src/cli/env.rs
  src/cli/snapshots/rtx__cli__env__tests__env_json.snap
  src/cli/snapshots/rtx__cli__local__tests__local_multiple_versions-3.snap
  src/plugins/external_plugin.rs
  src/plugins/external_plugin_cache.rs
Due: cargo_fmt, clippy, render

erlang: fix caching problems (#1215)
  src/plugins/core/erlang.rs
Due: cargo_fmt, clippy, render

uninstall: only uninstall 1 version if exact match
  src/cli/uninstall.rs
  src/plugins/core/erlang.rs
Due: cargo_fmt, clippy, render

uninstall: only uninstall 1 version if exact match (#1217)
  src/cli/uninstall.rs
  src/plugins/core/erlang.rs
Due: cargo_fmt, clippy, render

chore: Release rtx-cli version 2023.12.31
  Cargo.lock
  Cargo.toml
  default.nix
  packaging/rpm/rtx.spec
Due: none

chore: Release rtx-cli version 2023.12.31
  Cargo.lock
  Cargo.toml
  README.md
  default.nix
  packaging/rpm/rtx.spec
Due: none

readme
  README.md
Due: none

trim "v" prefix on versions
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

use table to output plugins list
  src/cli/plugins/ls.rs
  src/cli/plugins/mod.rs
Due: cargo_fmt, clippy, render

trim "v" prefix on versions (#1219)
  src/plugins/external_plugin.rs
Due: cargo_fmt, clippy, render

precommit
  README.md
  completions/_rtx
  completions/rtx.fish
  e2e/test_bang
  src/cli/mod.rs
  src/cli/plugins/ls.rs
  src/cli/plugins/snapshots/rtx__cli__plugins__ls__tests__plugin_list_all.snap
Due: cargo_fmt, clippy, render, shellcheck

use table to output plugins list (#1220)
  README.md
  completions/_rtx
  completions/rtx.fish
  e2e/test_bang
  src/cli/mod.rs
  src/cli/plugins/ls.rs
  src/cli/plugins/mod.rs
  src/cli/plugins/snapshots/rtx__cli__plugins__ls__tests__plugin_list_all.snap
Due: cargo_fmt, clippy, render, shellcheck

use table to output plugins list (#1220)
  completions/_rtx
  completions/rtx.fish
  e2e/test_bang
  src/cli/mod.rs
  src/cli/plugins/ls.rs
  src/cli/plugins/mod.rs
  src/cli/plugins/snapshots/rtx__cli__plugins__ls__tests__plugin_list_all.snap
Due: cargo_fmt, clippy, render, shellcheck

use: fix when no version set
  e2e/test_use
  src/cli/use.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

wip
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

move latest_versions check
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/shell.rs
  src/cli/upgrade.rs
  src/cli/use.rs
  src/config/config_file/mod.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_plugin.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__replace_versions.snap
  src/toolset/builder.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render

use: fix calling with no version set (#1216)
  e2e/test_use
  src/cli/env.rs
  src/cli/exec.rs
  src/cli/install.rs
  src/cli/shell.rs
  src/cli/upgrade.rs
  src/cli/use.rs
  src/config/config_file/mod.rs
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__fixture-4.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__remove_plugin.snap
  src/config/config_file/snapshots/rtx__config__config_file__rtx_toml__tests__replace_versions.snap
  src/toolset/builder.rs
  src/toolset/mod.rs
Due: cargo_fmt, clippy, render, shellcheck

docs(README): extra )
  README.md
Due: none

docs(README): extra ) (#1221)
  README.md
Due: none

linux: use argv0 to find rtx bin
  e2e/cd/test_bash
  src/cli/activate.rs
  src/cli/implode.rs
  src/cli/self_update.rs
  src/env.rs
  src/fake_asdf.rs
  src/plugins/script_manager.rs
  src/shims.rs
  src/test.rs
Due: cargo_fmt, clippy, render

linux: use argv0 to find rtx bin (#1222)
  e2e/cd/test_bash
  src/cli/activate.rs
  src/cli/implode.rs
  src/cli/self_update.rs
  src/env.rs
  src/fake_asdf.rs
  src/plugins/script_manager.rs
  src/shims.rs
  src/test.rs
Due: cargo_fmt, clippy, render

Path conditions:
  cargo_fmt: any of: src/**/*.rs
  clippy: any of: src/**/*.rs
  render: any of: src/**/*.rs
  shellcheck: any of: {scripts/*.sh,e2e/test_*,e2e/run_*}
  just_fmt: any of: justfile
